@font-face {
  font-family: "Helvetica-custom";
  src: url("../fonts/fonts/Helvetica.svg");
  src: url("../fonts/fonts/Helvetica.ttf");
  src: url("../fonts/fonts/Helvetica.woff");
  src: url("../fonts/fonts/Helvetica.eot"); }
/* line 8, ../sass/main.sass */
a:focus {
  outline: none; }

/* line 11, ../sass/main.sass */
body {
  font-family: Helvetica, "Helvetica-custom", Arial, sans-serif; }
  /* line 14, ../sass/main.sass */
  body .menu-top-a {
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 19; }
    /* line 19, ../sass/main.sass */
    body .menu-top-a .menu-top-a-inner {
      width: 70vw;
      max-width: 100%;
      height: 60px;
      margin: auto;
      overflow: hidden; }
      /* line 25, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .logotype {
        width: 147px;
        height: 52px;
        background: url("../images/logtype/logo-together.png") no-repeat;
        float: left;
        margin-top: 7px; }
        /* line 31, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .logotype a {
          display: block; }
      /* line 33, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .contacts {
        float: left;
        padding-top: 17px;
        margin-left: 36px; }
        /* line 37, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p {
          float: left; }
        /* line 39, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p:first-child:after {
          content: "|";
          margin-right: 34px;
          margin-left: 37px; }
        /* line 43, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p:first-child:before {
          content: url("../images/header/phone.png");
          display: block;
          float: left; }
      /* line 47, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .form-search {
        overflow: hidden;
        padding-top: 12px;
        margin-left: 98px;
        float: left; }
        /* line 52, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search input {
          float: left; }
        /* line 54, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search .search-btn {
          margin-top: 8px;
          margin-left: 4px; }
        /* line 57, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search .search-field {
          width: 106px;
          border: 1px solid #3d3d3d;
          background: #f0eeee;
          border-radius: 1px;
          height: 31px; }
      /* line 63, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .menu-a {
        overflow: hidden;
        float: left;
        margin-left: 76px;
        padding-top: 17px; }
        /* line 68, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .menu-a ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          /* line 72, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .menu-a ul li {
            float: left; }
            /* line 74, ../sass/main.sass */
            body .menu-top-a .menu-top-a-inner .menu-a ul li a {
              display: block;
              text-decoration: none;
              text-transform: uppercase;
              color: #393432; }
          /* line 79, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .menu-a ul li:nth-child(2n) {
            margin: 0 35px; }
      /* line 81, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .language-top {
        width: 29px;
        height: 29px;
        background: url("../images/header/flag.png") no-repeat;
        float: left;
        margin-left: 47px;
        margin-top: 12px; }
        /* line 88, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .language-top .language_arrow {
          float: left;
          display: block;
          width: 15px;
          height: 10px;
          margin-left: 31px;
          margin-top: 14px;
          background: url("../images/header/search-arrow.png"); }
        /* line 96, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .language-top #dropDownLanguage {
          display: none;
          list-style-type: none;
          position: absolute;
          top: 100%;
          margin: 0;
          padding: 0; }
          /* line 104, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .language-top #dropDownLanguage li a {
            margin: 5px 0;
            display: block; }
  /* line 107, ../sass/main.sass */
  body .mob-activat {
    background: #f8f8f8;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18; }
    /* line 115, ../sass/main.sass */
    body .mob-activat .mobile-button {
      font-size: 24px;
      text-decoration: none;
      color: #000000;
      float: right;
      top: 13px;
      -webkit-transition: all 1.5s;
              transition: all 1.5s; }
  /* line 124, ../sass/main.sass */
  body .mobile-menu {
    z-index: 20;
    background: #f8f8f8;
    width: 70%;
    padding: 20px 30px 0;
    line-height: 1.2;
    position: fixed;
    right: -70%;
    height: 100vh;
    -webkit-transition: all 1.5s;
            transition: all 1.5s; }
    /* line 134, ../sass/main.sass */
    body .mobile-menu .form-search {
      overflow: hidden;
      float: left;
      width: 100%;
      margin: 5px auto 15px;
      clear: both; }
      /* line 140, ../sass/main.sass */
      body .mobile-menu .form-search input {
        float: left; }
      /* line 142, ../sass/main.sass */
      body .mobile-menu .form-search .search-btn {
        margin-top: 8px;
        margin-left: 4px; }
      /* line 145, ../sass/main.sass */
      body .mobile-menu .form-search .search-field {
        width: 70%;
        border: 1px solid #3d3d3d;
        background: #f0eeee;
        border-radius: 1px;
        height: 31px; }
    /* line 151, ../sass/main.sass */
    body .mobile-menu .overhead-menu, body .mobile-menu .nether-menu {
      margin-top: 15px; }
      /* line 153, ../sass/main.sass */
      body .mobile-menu .overhead-menu ul, body .mobile-menu .nether-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        /* line 158, ../sass/main.sass */
        body .mobile-menu .overhead-menu ul li a, body .mobile-menu .nether-menu ul li a {
          color: #000000;
          text-decoration: none;
          text-transform: uppercase; }
    /* line 162, ../sass/main.sass */
    body .mobile-menu .overhead-menu {
      border-bottom: 1px solid #000000; }
      /* line 166, ../sass/main.sass */
      body .mobile-menu .overhead-menu ul li a {
        line-height: 25px; }
    /* line 171, ../sass/main.sass */
    body .mobile-menu .nether-menu ul li a {
      line-height: 35px; }
  /* line 174, ../sass/main.sass */
  body .block-banner {
    background: url("../images/fon-block/fon-block-min-min.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 550px; }
  /* line 180, ../sass/main.sass */
  body .menu-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 60px;
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #000b38;
    list-style-type: none;
    z-index: 100; }
    /* line 190, ../sass/main.sass */
    body .menu-b li a {
      display: block;
      padding: 20px 31px;
      text-decoration: none;
      text-transform: uppercase;
      color: #f2eff6; }
    /* line 196, ../sass/main.sass */
    body .menu-b li a:hover {
      background: #aca717; }
    /* line 198, ../sass/main.sass */
    body .menu-b li ul {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #000b38; }
      /* line 206, ../sass/main.sass */
      body .menu-b li ul li a {
        display: block;
        text-transform: none; }
      /* line 209, ../sass/main.sass */
      body .menu-b li ul li a:hover {
        background: #182938; }
    /* line 211, ../sass/main.sass */
    body .menu-b li:hover ul {
      display: block; }
  /* line 215, ../sass/main.sass */
  body .getting-start {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 218, ../sass/main.sass */
    body .getting-start .left-text {
      color: #000b38;
      font-weight: bold; }
      /* line 221, ../sass/main.sass */
      body .getting-start .left-text .left-text-inner {
        padding: 60px 0 0 0; }
        /* line 223, ../sass/main.sass */
        body .getting-start .left-text .left-text-inner h1 {
          text-transform: uppercase;
          font-weight: bold;
          margin: 0 0 50px 0; }
    /* line 228, ../sass/main.sass */
    body .getting-start .right-form .right-form-inner {
      padding: 85px 0; }
      /* line 230, ../sass/main.sass */
      body .getting-start .right-form .right-form-inner a {
        display: block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 11px 0;
        border: 1px solid #000b38;
        border-radius: 2px;
        margin: 0 0 16px 0;
        color: #000000; }
  /* line 241, ../sass/main.sass */
  body .container-six-part {
    overflow: hidden; }
    /* line 243, ../sass/main.sass */
    body .container-six-part .part-of-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 340px;
      background: #aca717; }
      /* line 250, ../sass/main.sass */
      body .container-six-part .part-of-container h2 {
        color: #000b38;
        text-transform: uppercase;
        font-weight: bold; }
    /* line 255, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(1) h2, body .container-six-part .part-of-container:nth-child(2) h2, body .container-six-part .part-of-container:nth-child(5) h2, body .container-six-part .part-of-container:nth-child(6) h2 {
      color: #ffffff; }
    /* line 257, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(1) {
      background: #022f96; }
    /* line 259, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(2) {
      background: url("../images/content/six-part/second-part-a.png") no-repeat center;
      background-size: cover; }
    /* line 262, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(3) {
      background: url("../images/content/six-part/third-part.png") no-repeat center;
      background-size: cover; }
    /* line 265, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(4) {
      background: #cb555b; }
    /* line 267, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(5) {
      background: #b6be3f; }
    /* line 269, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(6) {
      background: url("../images/content/six-part/sixth-part.png") no-repeat center;
      background-size: cover; }
  /* line 273, ../sass/main.sass */
  body .why-together {
    overflow: hidden;
    padding: 0 0 80px 0; }
    /* line 277, ../sass/main.sass */
    body .why-together .left-text .left-inner {
      padding: 60px 0 0 0;
      font-weight: bold; }
      /* line 280, ../sass/main.sass */
      body .why-together .left-text .left-inner h2 {
        color: #000b38;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 50px 0;
        font-weight: bold; }
      /* line 287, ../sass/main.sass */
      body .why-together .left-text .left-inner .left-inner-but a {
        display: block;
        text-transform: uppercase;
        border: 1px solid #000b38;
        border-radius: 2px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 18px 0;
        margin: 46px auto 0;
        color: #333333; }
    /* line 299, ../sass/main.sass */
    body .why-together .right .right-inner {
      padding-top: 120px; }
      /* line 301, ../sass/main.sass */
      body .why-together .right .right-inner ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        /* line 305, ../sass/main.sass */
        body .why-together .right .right-inner ul li {
          margin-bottom: 17px;
          font-weight: bold; }
        /* line 308, ../sass/main.sass */
        body .why-together .right .right-inner ul li:before {
          content: url("../images/content/checks/check.png");
          margin-right: 17px;
          display: block;
          float: left; }
  /* line 314, ../sass/main.sass */
  body .carousel-a {
    background: url("../images/carousel/first.png") no-repeat center;
    background-size: cover;
    height: 400px; }
    /* line 318, ../sass/main.sass */
    body .carousel-a .owl-stage-outer {
      background: rgba(100, 100, 100, 0.75);
      height: inherit; }
      /* line 321, ../sass/main.sass */
      body .carousel-a .owl-stage-outer .owl-stage {
        z-index: 2;
        color: white;
        height: inherit; }
        /* line 325, ../sass/main.sass */
        body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl {
          height: inherit;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          /* line 329, ../sass/main.sass */
          body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .img-name-img {
            width: 150px;
            padding-top: 82px; }
            /* line 332, ../sass/main.sass */
            body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .img-name-img p {
              text-align: center;
              font-weight: bold;
              color: #ffffff;
              margin-top: 46px; }
          /* line 337, ../sass/main.sass */
          body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .subscribe-of-img {
            margin: 138px 0 0 80px;
            font-weight: bold; }
    /* line 340, ../sass/main.sass */
    body .carousel-a .owl-controls {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      /* line 342, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dot {
        display: inline-block; }
        /* line 345, ../sass/main.sass */
        body .carousel-a .owl-controls .owl-dot .active span {
          background: #ffffff none repeat scroll 0 0; }
      /* line 347, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dots {
        left: 45%;
        position: absolute;
        top: 80%;
        z-index: 2; }
      /* line 353, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dot span {
        background: #c7c7c2 none repeat scroll 0 0;
        border-radius: 20px;
        display: block;
        height: 23px;
        margin: 5px 7px;
        width: 23px; }
  /* line 361, ../sass/main.sass */
  body .resp-img {
    background: #565656;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    /* line 366, ../sass/main.sass */
    body .resp-img .gallery {
      width: 317px; }
      /* line 368, ../sass/main.sass */
      body .resp-img .gallery img {
        width: 100%; }
  /* line 371, ../sass/main.sass */
  body .get-soc {
    background: #2b3c79;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
    padding: 48px 0 75px 0; }
    /* line 379, ../sass/main.sass */
    body .get-soc h2 {
      text-transform: uppercase;
      font-size: 30px;
      width: 100%;
      margin: 0; }
    /* line 384, ../sass/main.sass */
    body .get-soc p {
      font-size: 16px;
      width: 100%;
      margin: 40px 0 33px 0; }
    /* line 388, ../sass/main.sass */
    body .get-soc ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      /* line 394, ../sass/main.sass */
      body .get-soc ul li {
        margin-left: 27px; }
        /* line 396, ../sass/main.sass */
        body .get-soc ul li a {
          display: block; }
  /* line 400, ../sass/main.sass */
  body .left-carousel-resp-img {
    padding: 0; }
    /* line 402, ../sass/main.sass */
    body .left-carousel-resp-img .left-carousel {
      padding: 0; }
      /* line 405, ../sass/main.sass */
      body .left-carousel-resp-img .left-carousel .owl-carousel-b {
        background: #3ea3c4;
        height: 274px; }
        /* line 408, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer {
          height: inherit; }
          /* line 410, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage {
            z-index: 2;
            color: white;
            height: inherit; }
            /* line 414, ../sass/main.sass */
            body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl {
              height: inherit;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              /* line 418, ../sass/main.sass */
              body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .img-name-img {
                width: 150px;
                padding-top: 82px; }
                /* line 421, ../sass/main.sass */
                body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .img-name-img p {
                  text-align: center;
                  font-weight: bold;
                  color: #ffffff;
                  margin-top: 46px; }
              /* line 426, ../sass/main.sass */
              body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .subscribe-of-img {
                margin: 138px 0 0 80px;
                font-weight: bold; }
        /* line 429, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          /* line 431, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls .owl-dot {
            display: inline-block; }
          /* line 434, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls .active span {
            background: #ffffff none repeat scroll 0 0; }
        /* line 436, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-dots {
          left: 45%;
          position: absolute;
          top: 80%;
          z-index: 2; }
          /* line 442, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-dots .owl-dot span {
            background: #c7c7c2 none repeat scroll 0 0;
            border-radius: 20px;
            display: block;
            height: 23px;
            margin: 5px 7px;
            width: 23px; }
        /* line 449, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first {
          text-align: center; }
          /* line 451, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first h2 {
            text-transform: uppercase; }
          /* line 453, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first p {
            width: 100%; }
    /* line 456, ../sass/main.sass */
    body .left-carousel-resp-img .resp-img-b {
      background: #565656;
      overflow: hidden;
      padding-left: 20px; }
      /* line 461, ../sass/main.sass */
      body .left-carousel-resp-img .resp-img-b .grid .grid-item {
        float: left;
        width: 140px;
        height: 127px;
        margin: 5px; }
        /* line 466, ../sass/main.sass */
        body .left-carousel-resp-img .resp-img-b .grid .grid-item img {
          width: inherit;
          height: inherit; }
  /* line 470, ../sass/main.sass */
  body .footer {
    width: 100%;
    background: #2e2e2e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 477, ../sass/main.sass */
    body .footer .left-contacts {
      padding: 100px 92px;
      width: 50%; }
      /* line 480, ../sass/main.sass */
      body .footer .left-contacts .foot-logo {
        width: 100%;
        height: 90px;
        background: url("../images/footer/foot-logo/foot-logo.png") no-repeat;
        margin-bottom: 68px; }
      /* line 485, ../sass/main.sass */
      body .footer .left-contacts .foot-cont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        /* line 488, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p {
          color: #ffffff;
          font-size: 24px;
          width: 100%; }
        /* line 492, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p:first-child:before {
          content: url("../images/footer/foot-phone.png");
          display: block;
          float: left;
          margin-right: 18px; }
        /* line 498, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p:last-child:before {
          content: url("../images/footer/foot-mail.png");
          display: block;
          float: left;
          margin-right: 18px; }
      /* line 503, ../sass/main.sass */
      body .footer .left-contacts ul {
        list-style-type: none;
        margin: 78px 0 0 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        /* line 509, ../sass/main.sass */
        body .footer .left-contacts ul li {
          margin-left: 24px; }
          /* line 511, ../sass/main.sass */
          body .footer .left-contacts ul li a {
            display: block; }
        /* line 513, ../sass/main.sass */
        body .footer .left-contacts ul li:first-child {
          margin: 0; }
    /* line 517, ../sass/main.sass */
    body .footer .right-links {
      width: 50%; }
      /* line 519, ../sass/main.sass */
      body .footer .right-links .foot-menu {
        margin: 0;
        list-style-type: none;
        padding: 140px 0 0 0; }
        /* line 523, ../sass/main.sass */
        body .footer .right-links .foot-menu .bl {
          float: left;
          width: 30%; }
          /* line 526, ../sass/main.sass */
          body .footer .right-links .foot-menu .bl ul {
            padding: 0; }
            /* line 529, ../sass/main.sass */
            body .footer .right-links .foot-menu .bl ul li a {
              color: #ffffff;
              text-decoration: none; }
            /* line 532, ../sass/main.sass */
            body .footer .right-links .foot-menu .bl ul li .big-link {
              text-transform: uppercase;
              font-size: 16px;
              font-weight: bold; }
        /* line 536, ../sass/main.sass */
        body .footer .right-links .foot-menu .up-link {
          text-transform: uppercase;
          margin-top: 60px; }
          /* line 541, ../sass/main.sass */
          body .footer .right-links .foot-menu .up-link ul li a {
            text-decoration: underline; }
  /* line 544, ../sass/main.sass */
  body .copyright {
    background: #211f1f;
    overflow: hidden;
    padding: 46px 92px; }
    /* line 548, ../sass/main.sass */
    body .copyright a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #ffffff;
      font-size: 16px; }
  /* line 555, ../sass/main.sass */
  body .apply-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
    /* line 560, ../sass/main.sass */
    body .apply-content .left-calc, body .apply-content .right-summary {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      /* line 565, ../sass/main.sass */
      body .apply-content .left-calc h2, body .apply-content .right-summary h2 {
        width: 100%;
        text-align: center;
        margin: 8vh 0; }
      /* line 569, ../sass/main.sass */
      body .apply-content .left-calc .program, body .apply-content .left-calc .month, body .apply-content .right-summary .program, body .apply-content .right-summary .month {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      /* line 571, ../sass/main.sass */
      body .apply-content .left-calc select, body .apply-content .right-summary select {
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        color: #555555;
        display: block;
        height: 40px;
        width: 15vw;
        margin-bottom: 20px; }
      /* line 579, ../sass/main.sass */
      body .apply-content .left-calc label, body .apply-content .right-summary label {
        display: block;
        font-weight: 500;
        margin-right: 20px; }
      /* line 584, ../sass/main.sass */
      body .apply-content .left-calc .summary-cont, body .apply-content .right-summary .summary-cont {
        width: 70%;
        background: #f4f4f4;
        margin: 20vh 0;
        padding: 10%; }
        /* line 589, ../sass/main.sass */
        body .apply-content .left-calc .summary-cont p, body .apply-content .right-summary .summary-cont p {
          font-size: 15px;
          font-weight: 600;
          padding: 10px 0;
          border-bottom: 1px solid; }
  /* line 595, ../sass/main.sass */
  body .otherwise-menu-b {
    position: fixed;
    top: 60px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #000b38;
    list-style-type: none;
    z-index: 100; }
    /* line 606, ../sass/main.sass */
    body .otherwise-menu-b li a {
      display: block;
      padding: 20px 31px;
      text-decoration: none;
      text-transform: uppercase;
      color: #f2eff6; }
    /* line 612, ../sass/main.sass */
    body .otherwise-menu-b li a:hover {
      background: #aca717; }
    /* line 614, ../sass/main.sass */
    body .otherwise-menu-b li ul {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #000b38; }
      /* line 622, ../sass/main.sass */
      body .otherwise-menu-b li ul li a {
        display: block;
        text-transform: none; }
      /* line 625, ../sass/main.sass */
      body .otherwise-menu-b li ul li a:hover {
        background: #182938; }
    /* line 627, ../sass/main.sass */
    body .otherwise-menu-b li:hover ul {
      display: block; }
  /* line 630, ../sass/main.sass */
  body .registration-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden; }
    /* line 639, ../sass/main.sass */
    body .registration-menu li {
      width: 25%; }
      /* line 641, ../sass/main.sass */
      body .registration-menu li a {
        display: block;
        color: #777777;
        padding: 4.2105%;
        text-decoration: none; }
      /* line 646, ../sass/main.sass */
      body .registration-menu li a:hover {
        color: #195491;
        border-bottom: 3px solid #195491; }
  /* line 651, ../sass/main.sass */
  body .request-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
    /* line 655, ../sass/main.sass */
    body .request-content .left-request-forms {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      /* line 660, ../sass/main.sass */
      body .request-content .left-request-forms form {
        width: 75%;
        margin: 50px 0; }
        /* line 663, ../sass/main.sass */
        body .request-content .left-request-forms form .form-group {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
          /* line 667, ../sass/main.sass */
          body .request-content .left-request-forms form .form-group input, body .request-content .left-request-forms form .form-group select {
            width: 75%;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            height: 38px; }
          /* line 672, ../sass/main.sass */
          body .request-content .left-request-forms form .form-group label {
            width: 25%;
            line-height: 33px; }
        /* line 675, ../sass/main.sass */
        body .request-content .left-request-forms form .send-button {
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          border: 1px solid #345396;
          border-radius: 2px;
          color: #345396;
          padding: 17px;
          -webkit-transition: all 1s;
                  transition: all 1s; }
        /* line 685, ../sass/main.sass */
        body .request-content .left-request-forms form .send-button:hover {
          background: #345396;
          color: #FFFFFF;
          -webkit-transition: all 1s;
                  transition: all 1s; }
    /* line 689, ../sass/main.sass */
    body .request-content .right-blurb {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
  /* line 696, ../sass/main.sass */
  body .our-staff-content {
    max-width: 1170px;
    width: 100%;
    margin: 117px auto 124px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 702, ../sass/main.sass */
    body .our-staff-content .subscribe {
      width: 585px; }
      /* line 704, ../sass/main.sass */
      body .our-staff-content .subscribe p {
        padding: 46px 60px 46px 34px;
        margin: 0; }
    /* line 707, ../sass/main.sass */
    body .our-staff-content .video {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 585px;
      height: 365px;
      background: url("../images/our-staff/video/1.jpg") no-repeat; }
    /* line 714, ../sass/main.sass */
    body .our-staff-content .staff-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 585px;
      margin: 20px 0; }
      /* line 719, ../sass/main.sass */
      body .our-staff-content .staff-info .staff-info-subscribe {
        width: 50%;
        margin-left: 30px; }
        /* line 722, ../sass/main.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p {
          color: #2d3d52; }
        /* line 724, ../sass/main.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p:nth-child(1) {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold; }
        /* line 728, ../sass/main.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p:nth-child(2) {
          text-transform: uppercase; }
  /* line 732, ../sass/main.sass */
  body .main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
    /* line 737, ../sass/main.sass */
    body .main .information, body .main .center-block, body .main .another-info {
      width: 395px;
      margin: 0; }
    /* line 740, ../sass/main.sass */
    body .main .center-block {
      margin-bottom: 40px; }
      /* line 742, ../sass/main.sass */
      body .main .center-block .form-contact {
        background: #0b5d9d;
        padding: 27px; }
        /* line 745, ../sass/main.sass */
        body .main .center-block .form-contact h4 {
          text-transform: uppercase;
          font-size: 34px;
          color: #FFFFFF; }
        /* line 749, ../sass/main.sass */
        body .main .center-block .form-contact input {
          width: 100%;
          height: 46px;
          margin-bottom: 15px; }
        /* line 753, ../sass/main.sass */
        body .main .center-block .form-contact textarea {
          width: 100%; }
        /* line 755, ../sass/main.sass */
        body .main .center-block .form-contact .form-contact-send {
          display: block;
          text-transform: uppercase;
          color: #FFFFFF;
          width: 100%;
          text-decoration: none;
          text-align: center;
          padding: 15px 0;
          border: 1px solid #FFFFFF;
          border-radius: 2px;
          margin-top: 20px; }
      /* line 766, ../sass/main.sass */
      body .main .center-block .subscribe-center-block {
        text-align: center;
        font-size: 16px;
        margin: 40px 0 27px; }
      /* line 770, ../sass/main.sass */
      body .main .center-block .form-contact-send-request {
        display: block;
        text-transform: uppercase;
        color: #0b5d9d;
        width: 90%;
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #0b5d9d;
        border-radius: 2px;
        margin: 20px auto 0; }
    /* line 782, ../sass/main.sass */
    body .main .another-info .another-info-cont {
      width: 95%;
      padding: 0 2.5%;
      margin-bottom: 50px; }
      /* line 786, ../sass/main.sass */
      body .main .another-info .another-info-cont .info-cont-img {
        position: relative; }
        /* line 788, ../sass/main.sass */
        body .main .another-info .another-info-cont .info-cont-img img {
          max-width: 100%;
          opacity: 0.5; }
      /* line 791, ../sass/main.sass */
      body .main .another-info .another-info-cont .info-button {
        display: block;
        text-transform: uppercase;
        color: #0b5d9d;
        width: 90%;
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #0b5d9d;
        border-radius: 2px;
        position: absolute;
        top: 70%;
        left: 5%;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
      /* line 805, ../sass/main.sass */
      body .main .another-info .another-info-cont .info-button:hover {
        -webkit-transition: all 0.5s;
                transition: all 0.5s;
        background: #0b5d9d;
        color: #FFFFFF; }
      /* line 809, ../sass/main.sass */
      body .main .another-info .another-info-cont h4 {
        text-align: center;
        text-transform: uppercase;
        color: #0b5d9d;
        padding: 12px;
        border-top: solid #0b5d9d;
        border-bottom: solid #0b5d9d;
        margin: 0; }
      /* line 817, ../sass/main.sass */
      body .main .another-info .another-info-cont .info-recall {
        background: #f0f0f0;
        margin-top: 100px;
        position: relative;
        width: 95%;
        padding: 100px 2.5% 0; }
        /* line 823, ../sass/main.sass */
        body .main .another-info .another-info-cont .info-recall img {
          position: absolute;
          top: -65px;
          left: 28%; }
        /* line 827, ../sass/main.sass */
        body .main .another-info .another-info-cont .info-recall .name {
          color: #0b5d9d;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center; }
        /* line 832, ../sass/main.sass */
        body .main .another-info .another-info-cont .info-recall h3 {
          text-align: center;
          text-transform: uppercase;
          font-size: 16px; }
      /* line 836, ../sass/main.sass */
      body .main .another-info .another-info-cont .recall-link {
        text-align: center;
        display: block;
        color: #0b5d9d; }
      /* line 840, ../sass/main.sass */
      body .main .another-info .another-info-cont .to-join {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 26px 0;
        background: #0b5d9d; }
        /* line 848, ../sass/main.sass */
        body .main .another-info .another-info-cont .to-join li {
          margin: 0 5px; }
          /* line 850, ../sass/main.sass */
          body .main .another-info .another-info-cont .to-join li a {
            display: block; }
    /* line 853, ../sass/main.sass */
    body .main .information h2, body .main .information p {
      padding: 0 10px; }
  /* line 855, ../sass/main.sass */
  body .block-photo {
    background: #a9a9ab;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 250px; }
    /* line 861, ../sass/main.sass */
    body .block-photo h2 {
      color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */