@font-face {
  font-family: "Helvetica-custom";
  src: url("../fonts/fonts/Helvetica.svg");
  src: url("../fonts/fonts/Helvetica.ttf");
  src: url("../fonts/fonts/Helvetica.woff");
  src: url("../fonts/fonts/Helvetica.eot"); }
/* line 8, ../sass/main.sass */
a:focus {
  outline: none; }

/* line 11, ../sass/main.sass */
body {
  font-family: Helvetica, "Helvetica-custom", Arial, sans-serif; }
  /* line 14, ../sass/main.sass */
  body .menu-top-a {
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 19;
    left: 0;
    top: 0; }
    /* line 21, ../sass/main.sass */
    body .menu-top-a .menu-top-a-inner {
      width: 70vw;
      max-width: 100%;
      height: 60px;
      margin: auto;
      overflow: hidden; }
      /* line 27, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .logotype {
        width: 147px;
        height: 52px;
        background: url("../images/logtype/logo-together.png") no-repeat;
        float: left;
        margin-top: 7px; }
        /* line 33, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .logotype a {
          display: block; }
      /* line 35, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .contacts {
        float: left;
        padding-top: 17px;
        margin-left: 36px; }
        /* line 39, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p {
          float: left; }
        /* line 41, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p:first-child:after {
          content: "|";
          margin-right: 34px;
          margin-left: 37px; }
        /* line 45, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .contacts p:first-child:before {
          content: url("../images/header/phone.png");
          display: block;
          float: left; }
      /* line 49, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .form-search {
        overflow: hidden;
        padding-top: 12px;
        margin-left: 98px;
        float: left; }
        /* line 54, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search input {
          float: left; }
        /* line 56, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search .search-btn {
          margin-top: 8px;
          margin-left: 4px; }
        /* line 59, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .form-search .search-field {
          width: 106px;
          border: 1px solid #a9a9ab;
          background: #f0eeee;
          border-radius: 1px;
          height: 31px; }
      /* line 65, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .menu-a {
        overflow: hidden;
        float: left;
        margin-left: 76px;
        padding-top: 17px; }
        /* line 70, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .menu-a ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          /* line 74, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .menu-a ul li {
            float: left; }
            /* line 76, ../sass/main.sass */
            body .menu-top-a .menu-top-a-inner .menu-a ul li a {
              display: block;
              text-decoration: none;
              text-transform: uppercase;
              color: #393432; }
          /* line 81, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .menu-a ul li:nth-child(2n) {
            margin: 0 35px; }
      /* line 83, ../sass/main.sass */
      body .menu-top-a .menu-top-a-inner .language-top {
        width: 29px;
        height: 29px;
        background: url("../images/header/flag.png") no-repeat;
        float: left;
        margin-left: 47px;
        margin-top: 12px; }
        /* line 90, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .language-top .language_arrow {
          float: left;
          display: block;
          width: 15px;
          height: 10px;
          margin-left: 31px;
          margin-top: 14px;
          background: url("../images/header/search-arrow.png"); }
        /* line 98, ../sass/main.sass */
        body .menu-top-a .menu-top-a-inner .language-top #dropDownLanguage {
          display: none;
          list-style-type: none;
          position: absolute;
          top: 100%;
          margin: 0;
          padding: 0; }
          /* line 106, ../sass/main.sass */
          body .menu-top-a .menu-top-a-inner .language-top #dropDownLanguage li a {
            margin: 5px 0;
            display: block; }
  /* line 109, ../sass/main.sass */
  body .mob-activat {
    background: #f8f8f8;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18; }
    /* line 117, ../sass/main.sass */
    body .mob-activat .mobile-button {
      font-size: 24px;
      text-decoration: none;
      color: #000000;
      float: right;
      top: 13px;
      -webkit-transition: all 1.5s;
              transition: all 1.5s; }
  /* line 126, ../sass/main.sass */
  body .mobile-menu {
    z-index: 20;
    background: #f8f8f8;
    width: 70%;
    padding: 20px 30px 0;
    line-height: 1.2;
    position: fixed;
    right: -70%;
    height: 100vh;
    -webkit-transition: all 1.5s;
            transition: all 1.5s; }
    /* line 136, ../sass/main.sass */
    body .mobile-menu .form-search {
      overflow: hidden;
      float: left;
      width: 100%;
      margin: 5px auto 15px;
      clear: both; }
      /* line 142, ../sass/main.sass */
      body .mobile-menu .form-search input {
        float: left; }
      /* line 144, ../sass/main.sass */
      body .mobile-menu .form-search .search-btn {
        margin-top: 8px;
        margin-left: 4px; }
      /* line 147, ../sass/main.sass */
      body .mobile-menu .form-search .search-field {
        width: 70%;
        border: 1px solid #a9a9ab;
        background: #f0eeee;
        border-radius: 1px;
        height: 31px; }
    /* line 153, ../sass/main.sass */
    body .mobile-menu .overhead-menu, body .mobile-menu .nether-menu {
      margin-top: 15px; }
      /* line 155, ../sass/main.sass */
      body .mobile-menu .overhead-menu ul, body .mobile-menu .nether-menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        /* line 160, ../sass/main.sass */
        body .mobile-menu .overhead-menu ul li a, body .mobile-menu .nether-menu ul li a {
          color: #000000;
          text-decoration: none;
          text-transform: uppercase; }
    /* line 164, ../sass/main.sass */
    body .mobile-menu .overhead-menu {
      border-bottom: 1px solid #000000; }
      /* line 168, ../sass/main.sass */
      body .mobile-menu .overhead-menu ul li a {
        line-height: 25px; }
    /* line 173, ../sass/main.sass */
    body .mobile-menu .nether-menu ul li a {
      line-height: 35px; }
  /* line 176, ../sass/main.sass */
  body .block-banner {
    background: url("../images/fon-block/fon-block-min-min.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 550px; }
  /* line 182, ../sass/main.sass */
  body .menu-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 60px;
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #000b38;
    list-style-type: none;
    z-index: 100; }
    /* line 192, ../sass/main.sass */
    body .menu-b li a {
      display: block;
      padding: 20px 31px;
      text-decoration: none;
      text-transform: uppercase;
      color: #f2eff6; }
    /* line 198, ../sass/main.sass */
    body .menu-b li a:hover {
      background: #aca717; }
    /* line 200, ../sass/main.sass */
    body .menu-b li ul {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #000b38;
      width: 10%; }
      /* line 209, ../sass/main.sass */
      body .menu-b li ul li a {
        display: block;
        text-transform: none;
        padding: 12px 15px; }
      /* line 213, ../sass/main.sass */
      body .menu-b li ul li a:hover {
        background: #182938; }
    /* line 215, ../sass/main.sass */
    body .menu-b li:hover ul {
      display: block; }
  /* line 219, ../sass/main.sass */
  body .getting-start {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 222, ../sass/main.sass */
    body .getting-start .left-text {
      color: #000b38;
      font-weight: bold; }
      /* line 225, ../sass/main.sass */
      body .getting-start .left-text .left-text-inner {
        padding: 60px 0 0 0; }
        /* line 227, ../sass/main.sass */
        body .getting-start .left-text .left-text-inner h1 {
          text-transform: uppercase;
          font-weight: bold;
          margin: 0 0 50px 0; }
    /* line 232, ../sass/main.sass */
    body .getting-start .right-form .right-form-inner {
      padding: 85px 0; }
      /* line 234, ../sass/main.sass */
      body .getting-start .right-form .right-form-inner a {
        display: block;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 11px 0;
        border: 1px solid #000b38;
        border-radius: 2px;
        margin: 0 0 16px 0;
        color: #000000; }
  /* line 245, ../sass/main.sass */
  body .container-six-part {
    overflow: hidden; }
    /* line 247, ../sass/main.sass */
    body .container-six-part .part-of-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 340px;
      background: #aca717; }
      /* line 254, ../sass/main.sass */
      body .container-six-part .part-of-container h2 {
        color: #000b38;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center; }
    /* line 260, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(1) h2, body .container-six-part .part-of-container:nth-child(2) h2, body .container-six-part .part-of-container:nth-child(5) h2, body .container-six-part .part-of-container:nth-child(6) h2 {
      color: #ffffff; }
    /* line 262, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(1) {
      background: #022f96; }
    /* line 264, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(2) {
      background: url("../images/content/six-part/second-part-a.png") no-repeat center;
      background-size: cover; }
    /* line 267, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(3) {
      background: url("../images/content/six-part/third-part.png") no-repeat center;
      background-size: cover; }
    /* line 270, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(4) {
      background: #cb555b; }
    /* line 272, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(5) {
      background: #b6be3f; }
    /* line 274, ../sass/main.sass */
    body .container-six-part .part-of-container:nth-child(6) {
      background: url("../images/content/six-part/sixth-part.png") no-repeat center;
      background-size: cover; }
  /* line 278, ../sass/main.sass */
  body .why-together {
    overflow: hidden;
    padding: 0 0 80px 0; }
    /* line 282, ../sass/main.sass */
    body .why-together .left-text .left-inner {
      padding: 60px 0 0 0;
      font-weight: bold; }
      /* line 285, ../sass/main.sass */
      body .why-together .left-text .left-inner h2 {
        color: #000b38;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 50px 0;
        font-weight: bold; }
      /* line 292, ../sass/main.sass */
      body .why-together .left-text .left-inner .left-inner-but a {
        display: block;
        text-transform: uppercase;
        border: 1px solid #000b38;
        border-radius: 2px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 18px 0;
        margin: 46px auto 0;
        color: #333333;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
      /* line 304, ../sass/main.sass */
      body .why-together .left-text .left-inner .left-inner-but a:hover {
        background: #345396;
        -webkit-transition: all 0.5s;
                transition: all 0.5s;
        color: #FFFFFF; }
    /* line 309, ../sass/main.sass */
    body .why-together .right .right-inner {
      padding-top: 120px; }
      /* line 311, ../sass/main.sass */
      body .why-together .right .right-inner ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        /* line 315, ../sass/main.sass */
        body .why-together .right .right-inner ul li {
          margin-bottom: 17px;
          font-weight: bold; }
        /* line 318, ../sass/main.sass */
        body .why-together .right .right-inner ul li:before {
          content: url("../images/content/checks/check.png");
          margin-right: 17px;
          display: block;
          float: left; }
  /* line 324, ../sass/main.sass */
  body .carousel-a {
    background: url("../images/carousel/first.png") no-repeat center;
    background-size: cover;
    height: 400px; }
    /* line 328, ../sass/main.sass */
    body .carousel-a .owl-stage-outer {
      background: rgba(100, 100, 100, 0.75);
      height: inherit; }
      /* line 331, ../sass/main.sass */
      body .carousel-a .owl-stage-outer .owl-stage {
        z-index: 2;
        color: white;
        height: inherit; }
        /* line 335, ../sass/main.sass */
        body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl {
          height: inherit;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          /* line 339, ../sass/main.sass */
          body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .img-name-img {
            width: 150px;
            padding-top: 82px; }
            /* line 342, ../sass/main.sass */
            body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .img-name-img p {
              text-align: center;
              font-weight: bold;
              color: #ffffff;
              margin-top: 46px; }
          /* line 347, ../sass/main.sass */
          body .carousel-a .owl-stage-outer .owl-stage .first-slide-owl .subscribe-of-img {
            margin: 138px 0 0 80px;
            font-weight: bold; }
    /* line 350, ../sass/main.sass */
    body .carousel-a .owl-controls {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      /* line 352, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dot {
        display: inline-block; }
        /* line 355, ../sass/main.sass */
        body .carousel-a .owl-controls .owl-dot .active span {
          background: #ffffff none repeat scroll 0 0; }
      /* line 357, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dots {
        left: 45%;
        position: absolute;
        top: 80%;
        z-index: 2; }
      /* line 363, ../sass/main.sass */
      body .carousel-a .owl-controls .owl-dot span {
        background: #c7c7c2 none repeat scroll 0 0;
        border-radius: 20px;
        display: block;
        height: 23px;
        margin: 5px 7px;
        width: 23px; }
  /* line 371, ../sass/main.sass */
  body .resp-img {
    background: #565656;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    /* line 376, ../sass/main.sass */
    body .resp-img .gallery {
      width: 317px; }
      /* line 378, ../sass/main.sass */
      body .resp-img .gallery img {
        width: 100%; }
  /* line 381, ../sass/main.sass */
  body .get-soc {
    background: #2b3c79;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
    padding: 48px 0 75px 0; }
    /* line 389, ../sass/main.sass */
    body .get-soc h2 {
      text-transform: uppercase;
      font-size: 30px;
      width: 100%;
      margin: 0; }
    /* line 394, ../sass/main.sass */
    body .get-soc p {
      font-size: 16px;
      width: 100%;
      margin: 40px 0 33px 0; }
    /* line 398, ../sass/main.sass */
    body .get-soc ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      /* line 404, ../sass/main.sass */
      body .get-soc ul li {
        margin-left: 27px; }
        /* line 406, ../sass/main.sass */
        body .get-soc ul li a {
          display: block; }
  /* line 410, ../sass/main.sass */
  body .left-carousel-resp-img {
    padding: 0; }
    /* line 412, ../sass/main.sass */
    body .left-carousel-resp-img .left-carousel {
      padding: 0; }
      /* line 414, ../sass/main.sass */
      body .left-carousel-resp-img .left-carousel .owl-carousel-b {
        background: #3ea3c4;
        height: 274px; }
        /* line 417, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer {
          height: inherit; }
          /* line 419, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage {
            z-index: 2;
            color: white;
            height: inherit; }
            /* line 423, ../sass/main.sass */
            body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl {
              height: inherit;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              /* line 427, ../sass/main.sass */
              body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .img-name-img {
                width: 150px;
                padding-top: 82px; }
                /* line 430, ../sass/main.sass */
                body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .img-name-img p {
                  text-align: center;
                  font-weight: bold;
                  color: #ffffff;
                  margin-top: 46px; }
              /* line 435, ../sass/main.sass */
              body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-stage-outer .owl-stage .first-slide-owl .subscribe-of-img {
                margin: 138px 0 0 80px;
                font-weight: bold; }
        /* line 438, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          /* line 440, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls .owl-dot {
            display: inline-block; }
          /* line 443, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-controls .active span {
            background: #ffffff none repeat scroll 0 0; }
        /* line 445, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-dots {
          left: 45%;
          position: absolute;
          top: 80%;
          z-index: 2; }
          /* line 451, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-dots .owl-dot span {
            background: #c7c7c2 none repeat scroll 0 0;
            border-radius: 20px;
            display: block;
            height: 23px;
            margin: 5px 7px;
            width: 23px; }
        /* line 458, ../sass/main.sass */
        body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first {
          text-align: center; }
          /* line 460, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first h2 {
            text-transform: uppercase; }
          /* line 462, ../sass/main.sass */
          body .left-carousel-resp-img .left-carousel .owl-carousel-b .owl-carousel-b-first p {
            width: 100%; }
    /* line 465, ../sass/main.sass */
    body .left-carousel-resp-img .resp-img-b {
      background: #565656;
      overflow: hidden;
      padding-left: 20px; }
      /* line 470, ../sass/main.sass */
      body .left-carousel-resp-img .resp-img-b .grid .grid-item {
        float: left;
        width: 140px;
        height: 127px;
        margin: 5px; }
        /* line 475, ../sass/main.sass */
        body .left-carousel-resp-img .resp-img-b .grid .grid-item img {
          width: inherit;
          height: inherit; }
  /* line 479, ../sass/main.sass */
  body .footer {
    width: 100%;
    background: #2e2e2e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 484, ../sass/main.sass */
    body .footer .left-contacts {
      padding: 100px 92px;
      width: 50%; }
      /* line 487, ../sass/main.sass */
      body .footer .left-contacts .foot-logo {
        width: 100%;
        height: 90px;
        background: url("../images/footer/foot-logo/foot-logo.png") no-repeat;
        margin-bottom: 68px; }
      /* line 492, ../sass/main.sass */
      body .footer .left-contacts .foot-cont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        /* line 495, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p {
          color: #ffffff;
          font-size: 24px;
          width: 100%; }
        /* line 499, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p:first-child:before {
          content: url("../images/footer/foot-phone.png");
          display: block;
          float: left;
          margin-right: 18px; }
        /* line 505, ../sass/main.sass */
        body .footer .left-contacts .foot-cont p:last-child:before {
          content: url("../images/footer/foot-mail.png");
          display: block;
          float: left;
          margin-right: 18px; }
      /* line 510, ../sass/main.sass */
      body .footer .left-contacts ul {
        list-style-type: none;
        margin: 78px 0 0 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        /* line 516, ../sass/main.sass */
        body .footer .left-contacts ul li {
          margin: 0 25px 10px 0; }
          /* line 518, ../sass/main.sass */
          body .footer .left-contacts ul li a {
            display: block; }
    /* line 522, ../sass/main.sass */
    body .footer .right-links {
      width: 50%; }
      /* line 524, ../sass/main.sass */
      body .footer .right-links .foot-menu {
        margin: 0;
        list-style-type: none;
        padding: 140px 0 0 0; }
        /* line 528, ../sass/main.sass */
        body .footer .right-links .foot-menu .bl {
          float: left;
          width: 30%; }
          /* line 531, ../sass/main.sass */
          body .footer .right-links .foot-menu .bl ul {
            padding: 0; }
            /* line 534, ../sass/main.sass */
            body .footer .right-links .foot-menu .bl ul li a {
              color: #ffffff;
              text-decoration: none; }
            /* line 537, ../sass/main.sass */
            body .footer .right-links .foot-menu .bl ul li .big-link {
              text-transform: uppercase;
              font-size: 16px;
              font-weight: bold; }
        /* line 541, ../sass/main.sass */
        body .footer .right-links .foot-menu .up-link {
          text-transform: uppercase;
          margin-top: 60px; }
          /* line 546, ../sass/main.sass */
          body .footer .right-links .foot-menu .up-link ul li a {
            text-decoration: underline; }
  /* line 549, ../sass/main.sass */
  body .copyright {
    background: #211f1f;
    overflow: hidden;
    padding: 46px 92px; }
    /* line 553, ../sass/main.sass */
    body .copyright a {
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 1px solid #FFFFFF;
      color: #ffffff;
      font-size: 16px; }
  /* line 563, ../sass/main.sass */
  body .otherwise-menu-b {
    position: fixed;
    top: 60px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #000b38;
    list-style-type: none;
    z-index: 18; }
    /* line 574, ../sass/main.sass */
    body .otherwise-menu-b li a {
      display: block;
      padding: 20px 31px;
      text-decoration: none;
      text-transform: uppercase;
      color: #f2eff6; }
    /* line 580, ../sass/main.sass */
    body .otherwise-menu-b li a:hover {
      background: #aca717; }
    /* line 582, ../sass/main.sass */
    body .otherwise-menu-b li ul {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #000b38; }
      /* line 590, ../sass/main.sass */
      body .otherwise-menu-b li ul li a {
        display: block;
        text-transform: none; }
      /* line 593, ../sass/main.sass */
      body .otherwise-menu-b li ul li a:hover {
        background: #182938; }
    /* line 595, ../sass/main.sass */
    body .otherwise-menu-b li:hover ul {
      display: block; }
  /* line 599, ../sass/main.sass */
  body .block-photo {
    background: #a9a9ab;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 250px; }
    /* line 605, ../sass/main.sass */
    body .block-photo h2 {
      color: #FFFFFF; }
  /* line 1, ../sass/apply.sass */
  body .apply-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 70vw;
    margin: auto; }
    /* line 6, ../sass/apply.sass */
    body .apply-content .left-calc, body .apply-content .right-summary {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      /* line 11, ../sass/apply.sass */
      body .apply-content .left-calc .form-calc, body .apply-content .right-summary .form-calc {
        width: 100%; }
        /* line 13, ../sass/apply.sass */
        body .apply-content .left-calc .form-calc h2, body .apply-content .right-summary .form-calc h2 {
          width: 100%;
          margin: 70px 0 34px 0;
          color: #4e4e4e;
          font-weight: bold; }
        /* line 18, ../sass/apply.sass */
        body .apply-content .left-calc .form-calc .calc-form-group, body .apply-content .right-summary .form-calc .calc-form-group {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap; }
          /* line 21, ../sass/apply.sass */
          body .apply-content .left-calc .form-calc .calc-form-group label, body .apply-content .right-summary .form-calc .calc-form-group label {
            width: 150px;
            color: #4e4e4e;
            font-weight: normal; }
          /* line 25, ../sass/apply.sass */
          body .apply-content .left-calc .form-calc .calc-form-group input, body .apply-content .right-summary .form-calc .calc-form-group input {
            border: 1px solid #a9a9ab;
            height: 38px;
            width: 298px;
            margin-bottom: 5px; }
        /* line 30, ../sass/apply.sass */
        body .apply-content .left-calc .form-calc .left-calculate-button, body .apply-content .right-summary .form-calc .left-calculate-button {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          width: 67%; }
          /* line 34, ../sass/apply.sass */
          body .apply-content .left-calc .form-calc .left-calculate-button .but, body .apply-content .right-summary .form-calc .left-calculate-button .but {
            display: block;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #0b5d9d;
            color: #0b5d9d;
            width: 200px;
            margin: 23px 0 0 0;
            -webkit-transition: all 0.3s;
                    transition: all 0.3s; }
          /* line 45, ../sass/apply.sass */
          body .apply-content .left-calc .form-calc .left-calculate-button .but:hover, body .apply-content .right-summary .form-calc .left-calculate-button .but:hover {
            -webkit-transition: all 0.3s;
                    transition: all 0.3s;
            background: #0b5d9d;
            color: #FFFFFF; }
      /* line 50, ../sass/apply.sass */
      body .apply-content .left-calc .summary-cont, body .apply-content .right-summary .summary-cont {
        width: 70%;
        background: #f4f4f4;
        margin: 100px 0 200px 0;
        padding: 10%; }
        /* line 55, ../sass/apply.sass */
        body .apply-content .left-calc .summary-cont p, body .apply-content .right-summary .summary-cont p {
          font-size: 15px;
          font-weight: normal;
          padding: 10px 0;
          border-bottom: 1px solid #afafb1;
          color: #4e4e4e; }
        /* line 61, ../sass/apply.sass */
        body .apply-content .left-calc .summary-cont .total, body .apply-content .right-summary .summary-cont .total {
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 4px solid #afafb1;
          color: #4e4e4e; }
        /* line 66, ../sass/apply.sass */
        body .apply-content .left-calc .summary-cont .button-start-reg, body .apply-content .right-summary .summary-cont .button-start-reg {
          padding: 10px 0;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          border: 1px solid #0b5d9d;
          color: #0b5d9d;
          width: 200px;
          margin: 26px 0 29px 0;
          float: right;
          display: block;
          -webkit-transition: all 0.3s;
                  transition: all 0.3s; }
        /* line 78, ../sass/apply.sass */
        body .apply-content .left-calc .summary-cont .button-start-reg:hover, body .apply-content .right-summary .summary-cont .button-start-reg:hover {
          -webkit-transition: all 0.3s;
                  transition: all 0.3s;
          background: #0b5d9d;
          color: #FFFFFF; }
  /* line 84, ../sass/apply.sass */
  body .registration-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 120px auto 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    width: 70vw; }
    /* line 94, ../sass/apply.sass */
    body .registration-menu li {
      width: 269px; }
      /* line 96, ../sass/apply.sass */
      body .registration-menu li a {
        display: block;
        color: #777777;
        padding: 4.2105%;
        text-decoration: none;
        border-bottom: 3px solid #FFFFFF; }
      /* line 102, ../sass/apply.sass */
      body .registration-menu li a:hover {
        color: #195491;
        border-bottom: 3px solid #195491; }
      /* line 105, ../sass/apply.sass */
      body .registration-menu li .step-1 {
        display: block;
        color: #195491;
        padding: 4.2105%;
        text-decoration: none;
        border-bottom: 3px solid #195491; }
      /* line 111, ../sass/apply.sass */
      body .registration-menu li .step-2 {
        display: block;
        color: #195491;
        padding: 4.2105%;
        text-decoration: none;
        border-bottom: 3px solid #195491; }
      /* line 117, ../sass/apply.sass */
      body .registration-menu li .step-3 {
        display: block;
        color: #195491;
        padding: 4.2105%;
        text-decoration: none;
        border-bottom: 3px solid #195491; }
  /* line 1, ../sass/request.sass */
  body .request-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    margin-top: 120px; }
    /* line 6, ../sass/request.sass */
    body .request-content .left-request-forms {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      /* line 11, ../sass/request.sass */
      body .request-content .left-request-forms form {
        width: 75%;
        margin: 50px 0; }
        /* line 14, ../sass/request.sass */
        body .request-content .left-request-forms form .form-group {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
          /* line 18, ../sass/request.sass */
          body .request-content .left-request-forms form .form-group input, body .request-content .left-request-forms form .form-group select {
            width: 75%;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            height: 38px; }
          /* line 23, ../sass/request.sass */
          body .request-content .left-request-forms form .form-group label {
            width: 25%;
            line-height: 33px; }
        /* line 26, ../sass/request.sass */
        body .request-content .left-request-forms form .send-button {
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          border: 1px solid #345396;
          border-radius: 2px;
          color: #345396;
          padding: 17px;
          -webkit-transition: all 1s;
                  transition: all 1s; }
        /* line 36, ../sass/request.sass */
        body .request-content .left-request-forms form .send-button:hover {
          background: #345396;
          color: #FFFFFF;
          -webkit-transition: all 1s;
                  transition: all 1s; }
    /* line 40, ../sass/request.sass */
    body .request-content .right-blurb {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
  /* line 1, ../sass/staff.sass */
  body .our-staff-content {
    width: 70vw;
    margin: 117px auto 124px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 6, ../sass/staff.sass */
    body .our-staff-content .subscribe {
      width: 50%; }
      /* line 8, ../sass/staff.sass */
      body .our-staff-content .subscribe p {
        padding: 46px 60px 46px 34px;
        margin: 0; }
    /* line 11, ../sass/staff.sass */
    body .our-staff-content .video {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50%;
      height: 365px;
      background: url("../images/our-staff/video/1.jpg") no-repeat; }
    /* line 18, ../sass/staff.sass */
    body .our-staff-content .staff-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 50%;
      margin: 20px 0; }
      /* line 23, ../sass/staff.sass */
      body .our-staff-content .staff-info .staff-info-subscribe {
        width: 50%;
        margin-left: 30px; }
        /* line 26, ../sass/staff.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p {
          color: #2d3d52; }
        /* line 28, ../sass/staff.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p:nth-child(1) {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold; }
        /* line 32, ../sass/staff.sass */
        body .our-staff-content .staff-info .staff-info-subscribe p:nth-child(2) {
          text-transform: uppercase; }
  /* line 1, ../sass/contact.sass */
  body .contact-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70vw;
    max-width: 100%;
    margin: 170px auto 0; }
    /* line 8, ../sass/contact.sass */
    body .contact-main .information, body .contact-main .center-block, body .contact-main .another-info {
      width: 395px;
      margin: 0; }
    /* line 11, ../sass/contact.sass */
    body .contact-main .center-block {
      margin-bottom: 40px; }
      /* line 13, ../sass/contact.sass */
      body .contact-main .center-block .form-contact {
        background: #0b5d9d;
        padding: 27px; }
        /* line 16, ../sass/contact.sass */
        body .contact-main .center-block .form-contact h4 {
          text-transform: uppercase;
          font-size: 34px;
          color: #FFFFFF; }
        /* line 20, ../sass/contact.sass */
        body .contact-main .center-block .form-contact input {
          width: 100%;
          height: 46px;
          margin-bottom: 15px; }
        /* line 24, ../sass/contact.sass */
        body .contact-main .center-block .form-contact textarea {
          width: 100%; }
        /* line 26, ../sass/contact.sass */
        body .contact-main .center-block .form-contact .form-contact-send {
          display: block;
          text-transform: uppercase;
          color: #FFFFFF;
          width: 100%;
          text-decoration: none;
          text-align: center;
          padding: 15px 0;
          border: 1px solid #FFFFFF;
          border-radius: 2px;
          margin-top: 20px; }
      /* line 37, ../sass/contact.sass */
      body .contact-main .center-block .subscribe-center-block {
        text-align: center;
        font-size: 16px;
        margin: 40px 0 27px; }
      /* line 41, ../sass/contact.sass */
      body .contact-main .center-block .form-contact-send-request {
        display: block;
        text-transform: uppercase;
        color: #0b5d9d;
        width: 90%;
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #0b5d9d;
        border-radius: 2px;
        margin: 20px auto 0; }
    /* line 53, ../sass/contact.sass */
    body .contact-main .another-info .another-info-cont {
      width: 95%;
      padding: 0 2.5%;
      margin-bottom: 50px; }
      /* line 57, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .info-cont-img {
        position: relative; }
        /* line 59, ../sass/contact.sass */
        body .contact-main .another-info .another-info-cont .info-cont-img img {
          max-width: 100%;
          opacity: 0.5; }
      /* line 62, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .info-button {
        display: block;
        text-transform: uppercase;
        color: #0b5d9d;
        width: 90%;
        text-decoration: none;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #0b5d9d;
        border-radius: 2px;
        position: absolute;
        top: 70%;
        left: 5%;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
      /* line 76, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .info-button:hover {
        -webkit-transition: all 0.5s;
                transition: all 0.5s;
        background: #0b5d9d;
        color: #FFFFFF; }
      /* line 80, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont h4 {
        text-align: center;
        text-transform: uppercase;
        color: #0b5d9d;
        padding: 12px;
        border-top: solid #0b5d9d;
        border-bottom: solid #0b5d9d;
        margin: 0; }
      /* line 88, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .info-recall {
        background: #f0f0f0;
        margin-top: 100px;
        position: relative;
        width: 95%;
        padding: 100px 2.5% 0; }
        /* line 94, ../sass/contact.sass */
        body .contact-main .another-info .another-info-cont .info-recall img {
          display: block;
          margin: -50% auto 25px; }
        /* line 97, ../sass/contact.sass */
        body .contact-main .another-info .another-info-cont .info-recall .name {
          color: #0b5d9d;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center; }
        /* line 102, ../sass/contact.sass */
        body .contact-main .another-info .another-info-cont .info-recall h3 {
          text-align: center;
          text-transform: uppercase;
          font-size: 16px; }
      /* line 106, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .recall-link {
        text-align: center;
        display: block;
        color: #0b5d9d; }
      /* line 110, ../sass/contact.sass */
      body .contact-main .another-info .another-info-cont .to-join {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 26px 0;
        background: #0b5d9d; }
        /* line 118, ../sass/contact.sass */
        body .contact-main .another-info .another-info-cont .to-join li {
          margin: 0 5px; }
          /* line 120, ../sass/contact.sass */
          body .contact-main .another-info .another-info-cont .to-join li a {
            display: block; }
    /* line 122, ../sass/contact.sass */
    body .contact-main .information {
      margin: 0; }
      /* line 124, ../sass/contact.sass */
      body .contact-main .information h2, body .contact-main .information p {
        padding: 0 10px; }
  /* line 1, ../sass/media-gallery.sass */
  body .media-main {
    width: 70vw;
    margin: auto;
    max-width: 100%; }
    /* line 5, ../sass/media-gallery.sass */
    body .media-main .menu-media {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      /* line 12, ../sass/media-gallery.sass */
      body .media-main .menu-media li a {
        display: block;
        color: #a9a9ab;
        text-decoration: none;
        font-size: 16px; }
      /* line 17, ../sass/media-gallery.sass */
      body .media-main .menu-media li:first-child {
        margin: 0 39px 0 0; }
    /* line 19, ../sass/media-gallery.sass */
    body .media-main .photo-gallery, body .media-main .video-gallery {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      /* line 22, ../sass/media-gallery.sass */
      body .media-main .photo-gallery h2, body .media-main .video-gallery h2 {
        width: 100%;
        color: #2e2e2e;
        text-transform: uppercase;
        font-size: 24px; }
      /* line 27, ../sass/media-gallery.sass */
      body .media-main .photo-gallery .gallery, body .media-main .video-gallery .gallery {
        width: 274px;
        height: auto;
        margin: 10px 10px 10px 0; }
        /* line 31, ../sass/media-gallery.sass */
        body .media-main .photo-gallery .gallery .gallery-bg, body .media-main .video-gallery .gallery .gallery-bg {
          background: #1b5085;
          height: 170px;
          width: 100%;
          -webkit-transition: background 0.5s;
                  transition: background 0.5s;
          position: relative; }
          /* line 37, ../sass/media-gallery.sass */
          body .media-main .photo-gallery .gallery .gallery-bg .gallery-img, body .media-main .video-gallery .gallery .gallery-bg .gallery-img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0.6;
            -webkit-transition: opacity 0.5s;
                    transition: opacity 0.5s; }
            /* line 43, ../sass/media-gallery.sass */
            body .media-main .photo-gallery .gallery .gallery-bg .gallery-img .gallery-img-bg, body .media-main .video-gallery .gallery .gallery-bg .gallery-img .gallery-img-bg {
              background: rgba(0, 0, 0, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 170px; }
          /* line 50, ../sass/media-gallery.sass */
          body .media-main .photo-gallery .gallery .gallery-bg .photo-ic, body .media-main .video-gallery .gallery .gallery-bg .photo-ic {
            position: absolute;
            top: 35%;
            left: 35%; }
        /* line 54, ../sass/media-gallery.sass */
        body .media-main .photo-gallery .gallery .gallery-bg:hover, body .media-main .video-gallery .gallery .gallery-bg:hover {
          background: #8cb3d1; }
        /* line 56, ../sass/media-gallery.sass */
        body .media-main .photo-gallery .gallery .gallery-bg:hover .gallery-img, body .media-main .video-gallery .gallery .gallery-bg:hover .gallery-img {
          opacity: 0.3; }
        /* line 58, ../sass/media-gallery.sass */
        body .media-main .photo-gallery .gallery .subscribe-gallery, body .media-main .video-gallery .gallery .subscribe-gallery {
          text-align: center; }
  /* line 1, ../sass/apply-step-2.sass */
  body .apply-stud-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70vw;
    margin: 0 auto; }
    /* line 7, ../sass/apply-step-2.sass */
    body .apply-stud-info .ret-to-step-1 {
      display: block;
      color: #3176ac;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      margin-top: 35px; }
    /* line 14, ../sass/apply-step-2.sass */
    body .apply-stud-info .ret-to-step-1:before {
      content: url("../images/apply/step-2/arrow.png");
      margin-right: 16px;
      vertical-align: text-top; }
    /* line 18, ../sass/apply-step-2.sass */
    body .apply-stud-info h2 {
      color: #4e4e4e;
      font-weight: bold;
      width: 100%;
      margin-bottom: 32px; }
    /* line 23, ../sass/apply-step-2.sass */
    body .apply-stud-info .info-col-left {
      width: 35vw; }
      /* line 25, ../sass/apply-step-2.sass */
      body .apply-stud-info .info-col-left .stud-info-form-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap; }
        /* line 28, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-left .stud-info-form-group label {
          width: 150px;
          color: #4e4e4e;
          font-weight: normal; }
        /* line 32, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-left .stud-info-form-group input {
          border: 1px solid #a9a9ab;
          height: 38px;
          width: 298px;
          margin-bottom: 5px; }
        /* line 37, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-left .stud-info-form-group select {
          border: 1px solid #a9a9ab;
          height: 38px;
          width: 298px;
          margin-bottom: 5px; }
    /* line 42, ../sass/apply-step-2.sass */
    body .apply-stud-info .info-col-right {
      width: 35vw; }
      /* line 44, ../sass/apply-step-2.sass */
      body .apply-stud-info .info-col-right .stud-info-form-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap; }
        /* line 47, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-right .stud-info-form-group label {
          width: 150px;
          color: #4e4e4e;
          font-weight: normal; }
        /* line 51, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-right .stud-info-form-group input {
          border: 1px solid #a9a9ab;
          height: 38px;
          width: 298px;
          margin-bottom: 5px; }
        /* line 56, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-right .stud-info-form-group select {
          border: 1px solid #a9a9ab;
          height: 38px;
          width: 298px;
          margin-bottom: 5px; }
    /* line 61, ../sass/apply-step-2.sass */
    body .apply-stud-info .info-col-center {
      width: 100%;
      margin-top: 40px; }
      /* line 64, ../sass/apply-step-2.sass */
      body .apply-stud-info .info-col-center .apply-for {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        background: #b2ddee; }
        /* line 69, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-center .apply-for .left-permit, body .apply-stud-info .info-col-center .apply-for .right-visa {
          margin: 25px 0 25px 45px; }
        /* line 71, ../sass/apply-step-2.sass */
        body .apply-stud-info .info-col-center .apply-for label {
          color: #4e4e4e;
          font-weight: normal; }
    /* line 74, ../sass/apply-step-2.sass */
    body .apply-stud-info .choose-option {
      width: 100%;
      margin: 40px 0 110px 0; }
      /* line 77, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option label {
        width: 300px;
        color: #4e4e4e;
        font-weight: normal; }
      /* line 81, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option span {
        margin-right: 15px; }
      /* line 83, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option .native-lang, body .apply-stud-info .choose-option .lang-level, body .apply-stud-info .choose-option .opinion-about-toogether, body .apply-stud-info .choose-option .terms {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        margin-top: 24px; }
      /* line 89, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option .native-lang input {
        border: 1px solid #a9a9ab;
        height: 38px;
        width: 298px;
        margin-bottom: 5px; }
      /* line 95, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option .lang-level input, body .apply-stud-info .choose-option .opinion-about-toogether input {
        margin-right: 40px; }
      /* line 97, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option .choose-option-but {
        display: block;
        width: 200px;
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        border: 1px solid #0b5d9d;
        color: #0b5d9d;
        margin-top: 30px;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
      /* line 108, ../sass/apply-step-2.sass */
      body .apply-stud-info .choose-option .choose-option-but:hover {
        background: #0b5d9d;
        color: #FFFFFF;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
  /* line 1, ../sass/apply-step-3.sass */
  body .main-step-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70vw;
    margin: 70px auto 295px; }
    /* line 7, ../sass/apply-step-3.sass */
    body .main-step-3 .affirmation {
      width: 50%; }
      /* line 9, ../sass/apply-step-3.sass */
      body .main-step-3 .affirmation h2 {
        color: #4e4e4e;
        text-transform: uppercase;
        margin: 0; }
      /* line 13, ../sass/apply-step-3.sass */
      body .main-step-3 .affirmation p {
        margin: 70px 0 64px 0; }
      /* line 15, ../sass/apply-step-3.sass */
      body .main-step-3 .affirmation .to-main-page-but {
        display: block;
        width: 486px;
        padding: 10px 0;
        margin-bottom: 35px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #0b5d9d;
        border: 1px solid #0b5d9d;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
      /* line 26, ../sass/apply-step-3.sass */
      body .main-step-3 .affirmation .to-main-page-but:hover {
        -webkit-transition: all 0.3s;
                transition: all 0.3s;
        background: #0b5d9d;
        color: #FFFFFF; }
    /* line 30, ../sass/apply-step-3.sass */
    body .main-step-3 .step-3-logo {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      /* line 35, ../sass/apply-step-3.sass */
      body .main-step-3 .step-3-logo img {
        max-width: 100%; }
/*# sourceMappingURL=main.css.map */