/* line 1, ../sass/test.sass */
.test-content {
  width: 1172px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: auto; }
  /* line 7, ../sass/test.sass */
  .test-content .our-test, .test-content .fun-test {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 12, ../sass/test.sass */
    .test-content .our-test .polish-test, .test-content .our-test .english-test,
    .test-content .our-test .english-funny, .test-content .our-test .polish-funny, .test-content .fun-test .polish-test, .test-content .fun-test .english-test,
    .test-content .fun-test .english-funny, .test-content .fun-test .polish-funny {
      text-decoration: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 572px;
      height: 359px;
      margin-top: 40px; }
      /* line 21, ../sass/test.sass */
      .test-content .our-test .polish-test .golden-layer, .test-content .our-test .english-test .golden-layer,
      .test-content .our-test .english-funny .golden-layer, .test-content .our-test .polish-funny .golden-layer, .test-content .fun-test .polish-test .golden-layer, .test-content .fun-test .english-test .golden-layer,
      .test-content .fun-test .english-funny .golden-layer, .test-content .fun-test .polish-funny .golden-layer {
        text-align: center;
        width: 100%;
        padding: 44px;
        background: #aca717;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px; }
      /* line 31, ../sass/test.sass */
      .test-content .our-test .polish-test .icon, .test-content .our-test .english-test .icon,
      .test-content .our-test .english-funny .icon, .test-content .our-test .polish-funny .icon, .test-content .fun-test .polish-test .icon, .test-content .fun-test .english-test .icon,
      .test-content .fun-test .english-funny .icon, .test-content .fun-test .polish-funny .icon {
        background: url("..//assets/images/test/test-icons/icon.png");
        width: 98px;
        height: 98px;
        position: absolute;
        top: 10px;
        left: 10px; }
    /* line 38, ../sass/test.sass */
    .test-content .our-test .english-test, .test-content .our-test .polish-test, .test-content .fun-test .english-test, .test-content .fun-test .polish-test {
      border: 1px solid #133b5b; }
    /* line 40, ../sass/test.sass */
    .test-content .our-test .english-test, .test-content .fun-test .english-test {
      background: url("..//assets/images/test/english-test/english-background.png") no-repeat center; }
    /* line 42, ../sass/test.sass */
    .test-content .our-test .polish-test, .test-content .fun-test .polish-test {
      background: -webkit-linear-gradient(transparent 50%, #FF0000 50%);
      background: linear-gradient(transparent 50%, #FF0000 50%); }
    /* line 44, ../sass/test.sass */
    .test-content .our-test .funny-test, .test-content .fun-test .funny-test {
      width: 100%;
      padding: 55px;
      margin-top: 85px;
      border-top: 3px solid #d9d9d9;
      text-transform: uppercase;
      color: #00247d;
      font-size: 25px; }
    /* line 52, ../sass/test.sass */
    .test-content .our-test .english-funny, .test-content .our-test .polish-funny, .test-content .fun-test .english-funny, .test-content .fun-test .polish-funny {
      border: 1px solid #a8a8a8;
      background: #cbcbcb;
      margin-bottom: 275px; }
    /* line 59, ../sass/test.sass */
    .test-content .our-test .cenetr-img, .test-content .fun-test .cenetr-img {
      margin: auto;
      width: 500px;
      height: 500px; }
      /* line 63, ../sass/test.sass */
      .test-content .our-test .cenetr-img img, .test-content .fun-test .cenetr-img img {
        max-width: 100%;
        height: 100%; }

/*# sourceMappingURL=test.css.map */