.apply-nav
  width: 70vw
  margin: auto
  .ret-to-step-1
    display: block
    color: #3176ac
    text-decoration: none
    font-weight: bold
    font-size: 15px
    margin-top: 17px
  .ret-to-step-1:before
    content: url("../images/apply/step-2/arrow.png")
    margin-right: 16px
    vertical-align: text-top
  h2
    margin-top: 25px

.apply-stud-info
  display: flex
  justify-content: center
  align-content: baseline
  flex-wrap: wrap
  .contact-info, .residence-address, .mailing-address
    width: 15.62vw //300px
    margin-right: 115px
    .remark
      border-radius: 0 0 50px
      background: #0b5d9d
      margin: 30px 0 15px -20px
      padding: 10px 20px
      color: #FFFFFF
    .remark-green
      border-radius: 0 0 50px
      background: #3b9d0b
      margin: 30px 0 15px -20px
      padding: 10px 20px
      color: #FFFFFF
    label
      color: #717171
      font-weight: normal
      margin-top: 15px
    select
      width: 100%
      box-sizing: content-box
      border: 1px solid #a9a9ab
      height: 40px
    input
      width: 100%
      box-sizing: content-box
      border: 1px solid #a9a9ab
      height: 40px

.apply-for
  display: flex
  justify-content: flex-start
  flex-flow: row wrap
  background: #b2ddee
  width: 70vw
  margin: 45px auto 0
  //margin-top: 45px
  .left-permit, .right-visa
    margin: 25px 0 25px 45px
    label
      color: #4e4e4e
      font-weight: normal
      margin-right: 10px
.choose-option
  width: 70vw
  margin: 40px 0 110px 0
  label
    width: 300px
    color: #4e4e4e
    font-weight: normal
  span
    margin-right: 15px
  .native-lang, .native-lang-comment, .lang-level, .opinion-about-toogether, .terms
    display: flex
    justify-content: flex-start
    flex-flow: row wrap
    margin-top: 24px
  .native-lang
    input
      border: 1px solid #a9a9ab
      height: 38px
      width: 298px
      margin-bottom: 5px
  .native-lang-comment
    margin-top: 0
    textarea
      border: 1px solid #a9a9ab
      width: 298px
      margin-bottom: 5px
  .lang-level, .opinion-about-toogether
    input
      margin-right: 40px
  .choose-option-but
    display: block
    width: 200px
    padding: 10px 20px
    text-transform: uppercase
    text-decoration: none
    text-align: center
    border:  1px solid #0b5d9d
    color: #0b5d9d
    margin-top: 30px
    transition: all 0.3s
    float: left
  .choose-option-but:hover
    background: #0b5d9d
    color: #FFFFFF
    transition: all 0.3s