.apply-content
  display: flex
  flex-wrap: wrap
  width: 70vw
  margin: auto
  .left-calc, .right-summary
    width: 50%
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    .form-calc
      width: 100%
      h2
        width: 100%
        margin: 70px 0 34px 0
        color: #4e4e4e
        font-weight: bold
      .calc-form-group
        display: flex
        flex-flow: row wrap
        label
          width: 150px
          color: #4e4e4e
          font-weight: normal
        select
          border: 1px solid #a9a9ab
          height: 38px
          width: 298px
          margin-bottom: 5px
      .left-calculate-button
        display: flex
        justify-content: flex-end
        width: 67%
        .but
          display: block
          padding: 10px 0
          text-align: center
          text-transform: uppercase
          text-decoration: none
          border: 1px solid #0b5d9d
          color: #0b5d9d
          width: 200px
          margin: 23px 0 0 0
          transition: all 0.3s
        .but:hover
          transition: all 0.3s
          background: #0b5d9d
          color: #FFFFFF

    .summary-cont
      width: 70%
      background: #f4f4f4
      margin: 100px 0 200px 0
      padding: 10%
      p
        font-size: 15px
        font-weight: normal
        padding: 10px 0
        border-bottom: 1px solid #afafb1
        color: #4e4e4e
      .total
        text-transform: uppercase
        font-weight: bold
        border-bottom: 4px solid #afafb1
        color: #4e4e4e
      .button-start-reg
        padding: 10px 0
        text-align: center
        text-transform: uppercase
        text-decoration: none
        border: 1px solid #0b5d9d
        color: #0b5d9d
        width: 200px
        margin: 26px 0 29px 0
        float: right
        display: block
        transition: all 0.3s
      .button-start-reg:hover
        transition: all 0.3s
        background: #0b5d9d
        color: #FFFFFF


.registration-menu
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin: 120px auto 0
  padding: 0
  list-style-type: none
  border-bottom: 1px solid #dbdbdb
  overflow: hidden
  width: 70vw
  li
    width: 269px
    a
      display: block
      color: #777777
      padding: 4.2105%
      text-decoration: none
      border-bottom: 3px solid #FFFFFF
    a:hover
      color: #195491
      border-bottom: 3px solid #195491
    .step-1
      display: block
      color: #195491
      padding: 4.2105%
      text-decoration: none
      border-bottom: 3px solid #195491
    .step-2
      display: block
      color: #195491
      padding: 4.2105%
      text-decoration: none
      border-bottom: 3px solid #195491
    .step-3
      display: block
      color: #195491
      padding: 4.2105%
      text-decoration: none
      border-bottom: 3px solid #195491


