.main-step-3
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  width: 70vw
  margin: 70px auto 295px
  .ret-to-step-1
    display: block
    color: #3176ac
    text-decoration: none
    font-weight: bold
    font-size: 15px
    margin-bottom: 35px
    width: 100%
  .ret-to-step-1:before
    content: url("../images/apply/step-2/arrow.png")
    margin-right: 16px
    vertical-align: text-top
  .affirmation
    width: 50%
    h2
      color: #4e4e4e
      text-transform: uppercase
      margin: 0
    p
      margin: 70px 0 64px 0
    .to-main-page-but
      display: block
      width: 486px
      padding: 10px 0
      margin-bottom: 35px
      text-align: center
      text-decoration: none
      text-transform: uppercase
      color: #0b5d9d
      border: 1px solid #0b5d9d
      transition: all 0.3s
    .to-main-page-but:hover
      transition: all 0.3s
      background: #0b5d9d
      color: #FFFFFF
  .step-3-logo
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    img
      max-width: 100%


