@font-face
  font-family: "Helvetica-custom"
  src: url("../fonts/fonts/Helvetica.svg")
  src: url("../fonts/fonts/Helvetica.ttf")
  src: url("../fonts/fonts/Helvetica.woff")
  src: url("../fonts/fonts/Helvetica.eot")

a:focus
  outline: none

body
  font-family: Helvetica,"Helvetica-custom",Arial, sans-serif

  .menu-top-a
    background: #ffffff
    position: fixed
    width: 100%
    z-index: 19
    .menu-top-a-inner
      width: 70vw
      max-width: 100%
      height: 60px
      margin: auto
      overflow: hidden
      .logotype
        width: 147px
        height: 52px
        background: url("../images/logtype/logo-together.png") no-repeat
        float: left
        margin-top: 7px
        a
          display: block
      .contacts
        float: left
        padding-top: 17px
        margin-left: 36px
        p
          float: left
        p:first-child:after
          content: "|"
          margin-right: 34px
          margin-left: 37px
        p:first-child:before
          content: url("../images/header/phone.png")
          display: block
          float: left
      .form-search
        overflow: hidden
        padding-top: 12px
        margin-left: 98px
        float: left
        input
          float: left
        .search-btn
          margin-top: 8px
          margin-left: 4px
        .search-field
          width: 106px
          border: 1px solid #a9a9ab
          background: #f0eeee
          border-radius: 1px
          height: 31px
      .menu-a
        overflow: hidden
        float: left
        margin-left: 76px
        padding-top: 17px
        ul
          list-style-type: none
          margin: 0
          padding: 0
          li
            float: left
            a
              display: block
              text-decoration: none
              text-transform: uppercase
              color: #393432
          li:nth-child(2n)
            margin: 0 35px
      .language-top
        width: 29px
        height: 29px
        background: url("../images/header/flag.png") no-repeat
        float: left
        margin-left: 47px
        margin-top: 12px
        .language_arrow
          float: left
          display: block
          width: 15px
          height: 10px
          margin-left: 31px
          margin-top: 14px
          background: url("../images/header/search-arrow.png")
        #dropDownLanguage
          display: none
          list-style-type: none
          position: absolute
          top: 100%
          margin: 0
          padding: 0
          li
            a
              margin: 5px 0
              display: block
  .mob-activat
    background: #f8f8f8
    width: 100%
    height: 60px
    position: fixed
    top: 0
    left: 0
    z-index: 18
    .mobile-button
      font-size: 24px
      text-decoration: none
      color: #000000
      float: right
      top: 13px
      transition: all 1.5s


  .mobile-menu
    z-index: 20
    background: #f8f8f8
    width: 70%
    padding: 20px 30px 0
    line-height: 1.2
    position: fixed
    right: -70%
    height: 100vh
    transition: all 1.5s
    .form-search
      overflow: hidden
      float: left
      width: 100%
      margin: 5px auto 15px
      clear: both
      input
        float: left
      .search-btn
        margin-top: 8px
        margin-left: 4px
      .search-field
        width: 70%
        border: 1px solid #a9a9ab
        background: #f0eeee
        border-radius: 1px
        height: 31px
    .overhead-menu, .nether-menu
      margin-top: 15px
      ul
        list-style-type: none
        margin: 0
        padding: 0
        li
          a
            color: #000000
            text-decoration: none
            text-transform: uppercase
    .overhead-menu
      border-bottom: 1px solid #000000
      ul
        li
          a
            line-height: 25px
    .nether-menu
      ul
        li
          a
            line-height: 35px

  .block-banner
    background: url("../images/fon-block/fon-block-min-min.jpg") no-repeat center
    background-size: cover
    width: 100%
    height: 550px

  .menu-b
    display: flex
    top: 60px
    width: 100%
    flex-wrap: wrap
    justify-content: center
    background: #000b38
    list-style-type: none
    z-index: 100
    li
      a
        display: block
        padding: 20px 31px
        text-decoration: none
        text-transform: uppercase
        color: #f2eff6
      a:hover
        background: #aca717
      ul
        position: absolute
        display: none
        margin: 0
        padding: 0
        list-style-type: none
        background: #000b38
        li
          a
            display: block
            text-transform: none
          a:hover
            background: #182938
    li:hover ul
      display: block


  .getting-start
    display: flex
    flex-wrap: wrap
    .left-text
      color: #000b38
      font-weight: bold
      .left-text-inner
        padding: 60px 0 0 0
        h1
          text-transform: uppercase
          font-weight: bold
          margin: 0 0 50px 0
    .right-form
      .right-form-inner
        padding: 85px 0
        a
          display: block
          text-align: center
          text-transform: uppercase
          text-decoration: none
          padding: 11px 0
          border: 1px solid #000b38
          border-radius: 2px
          margin: 0 0 16px 0
          color: #000000

  .container-six-part
    overflow: hidden
    .part-of-container
      display: flex
      justify-content: center
      align-items: center
      //width: 50%
      height: 340px
      background: #aca717
      h2
        color: #000b38
        text-transform: uppercase
        font-weight: bold
        text-align: center
    .part-of-container:nth-child(1), .part-of-container:nth-child(2), .part-of-container:nth-child(5), .part-of-container:nth-child(6)
      h2
        color: #ffffff
    .part-of-container:nth-child(1)
      background: #022f96
    .part-of-container:nth-child(2)
      background: url("../images/content/six-part/second-part-a.png") no-repeat center
      background-size: cover
    .part-of-container:nth-child(3)
      background: url("../images/content/six-part/third-part.png") no-repeat center
      background-size: cover
    .part-of-container:nth-child(4)
      background: #cb555b
    .part-of-container:nth-child(5)
      background: #b6be3f
    .part-of-container:nth-child(6)
      background: url("../images/content/six-part/sixth-part.png") no-repeat center
      background-size: cover

  .why-together
    overflow: hidden
    padding: 0 0 80px 0
    .left-text
      .left-inner
        padding: 60px 0 0 0
        font-weight: bold
        h2
          color: #000b38
          text-align: center
          text-transform: uppercase
          margin: 0 0 50px 0
          font-weight: bold
        .left-inner-but
          a
            display: block
            text-transform: uppercase
            border: 1px solid #000b38
            border-radius: 2px
            text-decoration: none
            text-align: center
            font-weight: bold
            padding: 18px 0
            margin: 46px auto 0
            color: #333333
            transition: all 0.5s
          a:hover
            background: #345396
            transition: all 0.5s
            color: #FFFFFF
    .right
      .right-inner
        padding-top: 120px
        ul
          list-style-type: none
          margin: 0
          padding: 0
          li
            margin-bottom: 17px
            font-weight: bold
          li:before
            content: url("../images/content/checks/check.png")
            margin-right: 17px
            display: block
            float: left

  .carousel-a
    background: url("../images/carousel/first.png") no-repeat center
    background-size: cover
    height: 400px
    .owl-stage-outer
      background: rgba(100,100,100,0.75)
      height: inherit
      .owl-stage
        z-index: 2
        color: white
        height: inherit
        .first-slide-owl
          height: inherit
          display: flex
          justify-content: center
          .img-name-img
            width: 150px
            padding-top: 82px
            p
              text-align: center
              font-weight: bold
              color: #ffffff
              margin-top: 46px
          .subscribe-of-img
            margin: 138px 0 0 80px
            font-weight: bold
    .owl-controls
      display: flex
      .owl-dot
        display: inline-block
        .active
          span
            background: #ffffff none repeat scroll 0 0
      .owl-dots
        left: 45%
        position: absolute
        top: 80%
        z-index: 2
      .owl-dot
        span
          background: #c7c7c2 none repeat scroll 0 0
          border-radius: 20px
          display: block
          height: 23px
          margin: 5px 7px
          width: 23px

  .resp-img
    background: #565656
    width: 100%
    display: flex
    flex-flow: row wrap
    .gallery
      width: 317px
      img
        width: 100%

  .get-soc
    background: #2b3c79
    color: #ffffff
    display: flex
    justify-content: center
    flex-wrap: wrap
    text-align: center
    padding: 48px 0 75px 0
    h2
      text-transform: uppercase
      font-size: 30px
      width: 100%
      margin: 0
    p
      font-size: 16px
      width: 100%
      margin: 40px 0 33px 0
    ul
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      flex-wrap: wrap
      li
        margin-left: 27px
        a
          display: block


  .left-carousel-resp-img
    padding: 0
    .left-carousel
      padding: 0
      .owl-carousel-b
        background: #3ea3c4
        height: 274px
        .owl-stage-outer
          height: inherit
          .owl-stage
            z-index: 2
            color: white
            height: inherit
            .first-slide-owl
              height: inherit
              display: flex
              justify-content: center
              .img-name-img
                width: 150px
                padding-top: 82px
                p
                  text-align: center
                  font-weight: bold
                  color: #ffffff
                  margin-top: 46px
              .subscribe-of-img
                margin: 138px 0 0 80px
                font-weight: bold
        .owl-controls
          display: flex
          .owl-dot
            display: inline-block
          .active
            span
              background: #ffffff none repeat scroll 0 0
        .owl-dots
          left: 45%
          position: absolute
          top: 80%
          z-index: 2
          .owl-dot
            span
              background: #c7c7c2 none repeat scroll 0 0
              border-radius: 20px
              display: block
              height: 23px
              margin: 5px 7px
              width: 23px
        .owl-carousel-b-first
          text-align: center
          h2
            text-transform: uppercase
          p
            width: 100%

    .resp-img-b
      background: #565656
      overflow: hidden
      padding-left: 20px
      .grid
        .grid-item
          float: left
          width: 140px
          height: 127px
          margin: 5px
          img
            width: inherit
            height: inherit

  .footer
    width: 100%
    background: #2e2e2e
    display: flex
    flex-wrap: wrap
    .left-contacts
      padding: 100px 92px
      width: 50%
      .foot-logo
        width: 100%
        height: 90px
        background: url("../images/footer/foot-logo/foot-logo.png") no-repeat
        margin-bottom: 68px
      .foot-cont
        display: flex
        flex-wrap: wrap
        p
          color: #ffffff
          font-size: 24px
          width: 100%
        p:first-child:before
          content: url("../images/footer/foot-phone.png")
          display: block
          float: left
          margin-right: 18px

        p:last-child:before
          content: url("../images/footer/foot-mail.png")
          display: block
          float: left
          margin-right: 18px
      ul
        list-style-type: none
        margin: 78px 0 0 0
        padding: 0
        display: flex
        flex-wrap: wrap
        li
          margin: 0 25px 10px 0
          a
            display: block


    .right-links
      width: 50%
      .foot-menu
        margin: 0
        list-style-type: none
        padding: 140px 0 0 0
        .bl
          float: left
          width: 30%
          ul
            padding: 0
            li
              a
                color: #ffffff
                text-decoration: none
              .big-link
                text-transform: uppercase
                font-size: 16px
                font-weight: bold
        .up-link
          text-transform: uppercase
          margin-top: 60px
          ul
            li
              a
                text-decoration: underline

  .copyright
    background: #211f1f
    overflow: hidden
    padding: 46px 92px
    a
      text-transform: uppercase
      text-decoration: none
      border-bottom: 1px solid #FFFFFF
      color: #ffffff
      font-size: 16px




  .otherwise-menu-b
    position: fixed
    top: 60px
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    background: #000b38
    list-style-type: none
    z-index: 18
    li
      a
        display: block
        padding: 20px 31px
        text-decoration: none
        text-transform: uppercase
        color: #f2eff6
      a:hover
        background: #aca717
      ul
        position: absolute
        display: none
        margin: 0
        padding: 0
        list-style-type: none
        background: #000b38
        li
          a
            display: block
            text-transform: none
          a:hover
            background: #182938
    li:hover ul
      display: block

  .registration-menu
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style-type: none
    border-bottom: 1px solid #dbdbdb
    overflow: hidden
    li
      width: 25%
      a
        display: block
        color: #777777
        padding: 4.2105%
        text-decoration: none
      a:hover
        color: #195491
        border-bottom: 3px solid #195491

  .block-photo
    background: #a9a9ab
    display: flex
    justify-content: center
    align-items: center
    height: 250px
    h2
      color: #FFFFFF

  @import "apply"

  @import "request"

  @import "staff"

  @import "contact"

  @import "media-gallery"



