@font-face
  font-family: "Helvetica-custom"
  src: url("../fonts/fonts/Helvetica.svg")
  src: url("../fonts/fonts/Helvetica.ttf")
  src: url("../fonts/fonts/Helvetica.woff")
  src: url("../fonts/fonts/Helvetica.eot")

a:focus
  outline: none

body
  font-family: Helvetica,"Helvetica-custom",Arial, sans-serif
  .menu-top-a
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    position: fixed
    width: 100%
    height: 60px
    background: #FFFFFF
    top: 0
    z-index: 19
    .logo
      background: url("../images/logtype/logo-together.png")no-repeat center
      width: 147px
      height: 52px
      margin-right: 35px
    .phone-mail
      display: flex
      flex-wrap: wrap
      list-style-type: none
      margin: 0 100px 0 0
      padding: 0
      li:first-child:before
        content: url("../images/header/phone.png")
        margin-right: 9px
      li:first-child:after
        content: "|"
        margin: 0 23px 0 30px
    .form-search
      display: flex
      flex-wrap: wrap
      margin-right: 75px
      .search-btn
        width: 18px
        height: 18px
      .search-field
        width: 106px
        border: 1px solid #a9a9ab
        background: #f0eeee
        border-radius: 1px
        height: 31px
        margin-right: 2px
    .right-menu
      display: flex
      flex-wrap: wrap
      align-items: center
      list-style-type: none
      margin: 0 45px 0 0
      padding: 0
      li
        a
          display: block
          text-decoration: none
          text-transform: uppercase
          color: #393432
          margin-right: 35px
    .language-top
      width: 29px
      height: 29px
      background: url("../images/header/flag.png") no-repeat
      .language_arrow
        float: left
        display: block
        width: 15px
        height: 10px
        margin-left: 31px
        margin-top: 14px
        background: url("../images/header/search-arrow.png")
      #dropDownLanguage
        display: none
        list-style-type: none
        position: absolute
        top: 100%
        margin: 0
        padding: 0
        li
          a
            margin: 5px 0
            display: block

  .mob-activat
    background: #f8f8f8
    width: 100%
    height: 60px
    position: fixed
    top: 0
    right: 0
    z-index: 19
    display: none
    .mobile-button
      font-size: 24px
      text-decoration: none
      color: #000000
      float: right
      top: 13px
      transition: all 1.5s


  .mobile-menu
    z-index: 20
    background: #f8f8f8
    width: 70%
    padding: 20px 30px 0
    line-height: 1.2
    position: fixed
    right: -70%
    height: 100vh
    transition: all 1.5s
    top: 60px
    .form-search
      overflow: hidden
      float: left
      width: 100%
      margin: 5px auto 15px
      clear: both
      input
        float: left
      .search-btn
        margin-top: 8px
        margin-left: 4px
      .search-field
        width: 70%
        border: 1px solid #a9a9ab
        background: #f0eeee
        border-radius: 1px
        height: 31px
    .overhead-menu, .nether-menu
      margin-top: 15px
      ul
        list-style-type: none
        margin: 0
        padding: 0
        li
          a
            color: #000000
            text-decoration: none
            text-transform: uppercase
    .overhead-menu
      border-bottom: 1px solid #000000
      ul
        li
          a
            line-height: 25px
    .nether-menu
      ul
        li
          a
            line-height: 35px

  .block-banner
    background: url("../images/fon-block/fon-block-min-min.jpg") no-repeat center
    background-size: cover
    width: 100%
    height: 550px

  .menu-b
    display: flex
    top: 60px
    width: 100%
    flex-wrap: wrap
    justify-content: center
    background: #000b38
    list-style-type: none
    z-index: 17
    li
      a
        display: block
        padding: 20px 31px
        text-decoration: none
        text-transform: uppercase
        color: #f2eff6
      a:hover
        background: #aca717
      ul
        position: absolute
        display: none
        margin: 0
        padding: 0
        list-style-type: none
        background: #000b38
        li
          a
            display: block
            text-transform: none
            padding: 12px 15px
          a:hover
            background: #182938
    li:hover ul
      display: block


  .getting-start
    display: flex
    flex-wrap: wrap
    .left-text
      color: #000b38
      font-weight: bold
      .left-text-inner
        padding: 60px 0 0 0
        h1
          text-transform: uppercase
          font-weight: bold
          margin: 0 0 50px 0
    .right-form
      .right-form-inner
        padding: 85px 0
        a
          display: block
          text-align: center
          text-transform: uppercase
          text-decoration: none
          padding: 11px 0
          border: 1px solid #000b38
          border-radius: 2px
          margin: 0 0 16px 0
          color: #000000

  .container-six-part
    overflow: hidden
    .part-of-container
      display: flex
      justify-content: center
      align-items: center
      height: 340px
      background: #aca717
      text-decoration: none
      h2
        color: #000b38
        text-transform: uppercase
        font-weight: bold
        text-align: center
    .part-of-container:nth-child(1), .part-of-container:nth-child(2), .part-of-container:nth-child(5), .part-of-container:nth-child(6)
      h2
        color: #ffffff
    .part-of-container:nth-child(1)
      background: #022f96
    .part-of-container:nth-child(2)
      background: url("../images/content/six-part/second-part-a.png") no-repeat center
      background-size: cover
    .part-of-container:nth-child(3)
      background: url("../images/content/six-part/third-part.png") no-repeat center
      background-size: cover
    .part-of-container:nth-child(4)
      background: #cb555b
    .part-of-container:nth-child(5)
      background: #b6be3f
    .part-of-container:nth-child(6)
      background: url("../images/content/six-part/sixth-part.png") no-repeat center
      background-size: cover

  .why-together
    overflow: hidden
    padding: 0 0 80px 0
    .left-text
      .left-inner
        padding: 60px 0 0 0
        font-weight: bold
        h2
          color: #000b38
          text-align: center
          text-transform: uppercase
          margin: 0 0 50px 0
          font-weight: bold
        .left-inner-but
          a
            display: block
            text-transform: uppercase
            border: 1px solid #000b38
            border-radius: 2px
            text-decoration: none
            text-align: center
            font-weight: bold
            padding: 18px 0
            margin: 46px auto 0
            color: #333333
            transition: all 0.5s
          a:hover
            background: #345396
            transition: all 0.5s
            color: #FFFFFF
    .right
      .right-inner
        padding-top: 120px
        ul
          list-style-type: none
          margin: 0
          padding: 0
          li
            margin-bottom: 17px
            font-weight: bold
          li:before
            content: url("../images/content/checks/check.png")
            margin-right: 17px
            display: block
            float: left

  .carousel-a
    background: url("../images/carousel/first.png") no-repeat center
    background-size: cover
    height: 400px
    .owl-stage-outer
      background: rgba(100,100,100,0.75)
      height: inherit
      .owl-stage
        z-index: 2
        color: white
        height: inherit
        .first-slide-owl
          height: inherit
          display: flex
          justify-content: center
          .img-name-img
            width: 150px
            padding-top: 82px
            p
              text-align: center
              font-weight: bold
              color: #ffffff
              margin-top: 46px
          .subscribe-of-img
            margin: 138px 0 0 80px
            font-weight: bold
    .owl-controls
      display: flex
      .owl-dot
        display: inline-block
        .active
          span
            background: #ffffff none repeat scroll 0 0
      .owl-dots
        left: 45%
        position: absolute
        top: 80%
        z-index: 2
      .owl-dot
        span
          background: #c7c7c2 none repeat scroll 0 0
          border-radius: 20px
          display: block
          height: 23px
          margin: 5px 7px
          width: 23px

  .four-part-block
    display: flex
    flex-wrap: wrap
    .block-cover
      width: 50%
      height: 340px
      position: relative
      .block-inner
        width: 100%
        height: 340px
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        background: rgba(255, 255, 255, 0.30)
        h2
          color: #091a59
          text-transform: uppercase
          margin: 0
          font-weight: bold
          text-align: center
        .bg
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          background: rgba(255, 255, 255, 0.30)
    .block-cover:nth-child(1)
      background: #022f96
    .block-cover:nth-child(2)
      background: url("../images/content/six-part/second-part-a.png") no-repeat center
      background-size: cover
    .block-cover:nth-child(3)
      background: url("../images/content/six-part/third-part.png") no-repeat center
      background-size: cover
    .block-cover:nth-child(4)
      background: #cb555b




  .resp-img
    background: #565656
    width: 100%
    display: flex
    flex-flow: row wrap
    .gallery
      width: 317px
      img
        width: 100%

  .get-soc
    background: #2b3c79
    color: #ffffff
    display: flex
    justify-content: center
    flex-wrap: wrap
    text-align: center
    padding: 48px 0 75px 0
    h2
      text-transform: uppercase
      font-size: 30px
      width: 100%
      margin: 0
    p
      font-size: 16px
      width: 100%
      margin: 40px 0 33px 0
    ul
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      flex-wrap: wrap
      li
        margin-left: 27px
        a
          display: block

  .footer
    width: 100%
    padding: 60px 0 0 0
    background: #2e2e2e
    display: flex
    justify-content: center
    .foot-cont
      display: flex
      flex-wrap: wrap
      .foot-contacts
        width: 277px
        display: flex
        flex-flow: column wrap
        margin-right: 55px
        .foot-logo
          img
            max-width: 95%
        .foot-button
          display: block
          width: 224px
          background: #FFFFFF
          text-transform: uppercase
          text-decoration: none
          text-align: center
          padding: 22px 0
          color: #2e2e2e
          border-radius: 2px
          margin: 60px 0
        p
          width: 100%
          color: #FFFFFF
          font-size: 16px
        p:nth-child(3):before
          content: url("../images/footer/foot-phone.png")
          margin-right: 8.30%  //23px
        p:nth-child(4):before
          content: url("../images/footer/foot-mail.png")
          margin-right: 8.30%
      .foot-soc-icons
        width: 300px
        display: flex
        flex-flow: row wrap
        list-style-type: none
        align-content: center
        margin: -100px 50px 0 0
        padding: 0
        li
          margin-right: 30px
          margin-bottom: 60px
      .links
        display: flex
        width: 500px
        justify-content: space-between
        .links-content
          width: 150px
          ul
            margin: 0 0 80px 0
            list-style-type: none
            padding: 0
            li
              a
                color: #878686
                text-decoration: none
            li:nth-child(1)
              text-transform: uppercase
              color: #f1f1f1
          .prog
            margin-bottom: 115px
          .upper-links
            li
              a
                text-transform: uppercase
                color: #f1f1f1
                border-bottom: 1px solid #f1f1f1
                line-height: 2

  .copyright
    background: #211f1f
    overflow: hidden
    display: flex
    a
      text-transform: uppercase
      text-decoration: none
      border-bottom: 1px solid #FFFFFF
      color: #ffffff
      width: 70vw
      margin: auto
      font-size: 16px
      padding: 11px 0
      display: block

  .otherwise-menu-b
    position: fixed
    top: 60px
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    background: #000b38
    list-style-type: none
    z-index: 15
    li
      a
        display: block
        padding: 20px 31px
        text-decoration: none
        text-transform: uppercase
        color: #f2eff6
      a:hover
        background: #aca717
      ul
        position: absolute
        display: none
        margin: 0
        padding: 0
        list-style-type: none
        background: #000b38
        li
          a
            display: block
            text-transform: none
          a:hover
            background: #182938
    li:hover ul
      display: block


  .photo-block
    background: #a9a9ab
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    height: 250px
    margin-top: 120px
    color: #FFFFFF
    text-transform: uppercase
    font-size: 28px
    font-weight: bold
    position: relative
    .photo
      width: 100%
      text-align: center
    .subscribe
      position: absolute
      top: 75%
      left: 20%


  @import "apply"

  @import "request"

  @import "staff"

  @import "contact"

  @import "contact-step-2"

  @import "media-gallery"

  @import "apply-step-2"

  @import "apply-step-3"

  @import "test"

  @import "search"

  @import "programs"

  @import "example"



