@media screen and (max-width: 700px)
  body .menu-top-a
    display: none

  body .menu-b
    display: none

  body .otherwise-menu-b
    display: none

@media screen and (max-width: 780px)
  body .mob-activat .mobile-button
    display: block

  body .footer .left-contacts, body .footer .right-links
    width: 100%
    padding: 10px 20px


  body .apply-content .left-calc, body .apply-content .right-summary
    width: 100%
    form
      width: 90%
      select
        width: 50%
    .summary-cont
      width: 90%
  .program, .month
    width: 90%


  body .request-content .left-request-forms, body .request-content .right-blurb
    width: 100%
    display: flex
    justify-content: center


@media screen and (max-width: 570px)
  body .our-staff-content .staff-info .staff-info-subscribe
    width: 100%

  body .our-staff-content .staff-info
    img
      margin: auto

