@media (max-width: 700px)
  body .menu-top-a
    display: none
  body .menu-b
    display: none
  body .otherwise-menu-b
    display: none
  body .request-content
    margin-top: 10px
  body .contact-main,
  body .registration-menu
    margin-top: 60px


@media screen and (min-width: 700px) and (max-width: 965px)
  body .contact-main,
  body .registration-menu
    margin-top: 180px


@media (max-width: 1285px)
  body .contact-main .another-info .another-info-cont .info-recall
    overflow: hidden
  body .contact-main .another-info .another-info-cont .info-recall img
    margin: -100px auto 25px


@media (max-width: 1050px)
  body .menu-top-a .language-top
    display: none
  body .mob-activat, .mobile-button
    display: block
    width: auto

  body .menu-top-a, body .mob-activat, .mobile-button
    float: left

@media (max-width: 780px)
  body .footer .left-contacts, body .footer .right-links
    width: 100%
    padding: 10px 20px
  body .apply-content .left-calc, body .apply-content .right-summary
    width: 100%
    form
      width: 90%
      select
        width: 50%
    .summary-cont
      width: 100%
      padding: 0
  .program, .month
    width: 90%
  body .request-content .left-request-forms, body .request-content .right-blurb
    width: 100%
    display: flex
    justify-content: center

@media (max-width: 1200px)
  body .footer .foot-cont .foot-contacts
    //width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  body .footer .foot-cont
    justify-content: center
    width: 100%
  body .footer .foot-cont .foot-soc-icons
    width: 100%
    justify-content: center
    margin: 50px 0
  body .footer .foot-cont .links
    flex-wrap: wrap

@media (max-width: 1330px)
  body .menu-top-a
    justify-content: space-around
  body .menu-top-a .logo,
  body .menu-top-a .phone-mail,
  body .menu-top-a .form-search,
  body .menu-top-a .right-menu,
  body .menu-top-a .language-top
    margin: 0
  body .menu-top-a .phone-mail li:first-child:after
    margin: 0 5px 0 5px
  body .menu-top-a .right-menu li a
    margin-right: 10px


@media screen and (max-width: 570px)
  body .our-staff-content .staff-info
    img
      margin: auto


@media (max-width: 900px)
  body .apply-stud-info .info-col-left
    width: 100%
  body .apply-stud-info .info-col-right
    width: 100%
    margin-top: 35px


@media (max-width: 992px)
  body .four-part-block .block-cover
    width: 100%
  body .menu-top-a .right-menu
    display: none

@media (max-width: 500px)
  body .apply-stud-info .info-col-center .apply-for .left-permit, body .apply-stud-info .info-col-center .apply-for .right-visa
    width: 100%
    margin-left: 0
  body .apply-stud-info .info-col-center .apply-for label
    width: 50%
  body .apply-stud-info .info-col-center .apply-for input
    width: 50%
  body .apply-stud-info .choose-option .lang-level input, body .apply-stud-info .choose-option .opinion-about-toogether input
    width: 50%
  body .apply-stud-info .choose-option span
    width: 25%


@media (max-width: 1020px)
  body .main-step-3 .affirmation,
  body .main-step-3 .step-3-logo,
  body .main-step-3 .step-3-logo .logo img,
  body .our-staff-content .subscribe,
  body .our-staff-content .video,
  body .our-staff-content .staff-info
    width: 100%


@media (max-width: 1050px)
  body .apply-stud-info
    width: 70vw
    margin: auto
  body .apply-stud-info .contact-info, body .apply-stud-info .residence-address, body .apply-stud-info .mailing-address
    width: 45%



@media (max-width: 1565px)
  body .our-staff-content .staff-info .staff-info-subscribe
    width: 100%
    margin: 0


@media (max-width: 1240px)
  body .main-step-3 .step-3-logo .logo img
    max-width: 40%
  body .main-step-3 .affirmation .to-main-page-but
    width: 100%


@media (max-width: 550px)
  body .main-step-3 .step-3-logo .logo img
    width: 100%
  body .main-step-3
    margin-bottom: 35px


@media (max-width: 400px)
  body .main-step-3 .affirmation h2
    font-size: 24px

@media (max-width: 1700px)
  body .contact-main .information,
  body .contact-main .center-block,
  body .contact-main .another-info
    width: 300px


@media (max-width: 1285px)
  body .contact-main
    justify-content: space-between
    width: 90%
    margin: 170px auto 0
    transition: all 0.5s


@media (max-width: 685px)
  body .contact-main .information,
  body .contact-main .center-block,
  body .contact-main .another-info
    margin: 0 auto 40px
  body .apply-stud-info .contact-info, body .apply-stud-info .residence-address, body .apply-stud-info .mailing-address
    width: 100%
    margin: 0




@media (max-width: 420px)
  body .contact-main .another-info .another-info-cont .info-button
    width: 70%
    left: 15%
    top: 60%




@media (max-width: 1000px)
  body .programs-content .programs ul
    flex-wrap: wrap
  body .programs-content .programs .programs-text p
    width: 100%
  body .programs-content .programs .programs-text .program-button
    width: 50%

@media (max-width: 840px)
  body .programs-content
    width: 100%
  body .programs-content .programs .programs-text p
    width: 70%
  body .programs-content .programs .programs-text .program-button
    width: 20%

@media (max-width: 650px)
  body .programs-content
    width: 100%
  body .programs-content .programs .programs-text p
    width: 100%
  body .programs-content .programs .programs-text .program-button
    width: 50%

@media (max-width: 300px)
  body .programs-content .programs .programs-text .program-button
    width: 100%



@media (max-width: 1210px)
  body .footer .foot-cont .foot-contacts
    margin: 0