@media screen and (max-width: 700px)
  .menu-top-a
    display: none

  .menu-b
    display: none!important

  .otherwise-menu-b
    display: none!important

  .apply-menu-b
    display: none!important


@media screen and (max-width: 780px)
  .mobile-button
    display: block!important

  .left-contacts, .right-links
    width: 100%!important
    padding: 10px 20px!important


  .left-calc, .right-summary //apply.html
    width: 100%!important
    form
      width: 90%
      select
        width: 50% !important
    .summary-cont
      width: 90% !important
  .program, .month
    width: 90%


  .left-request-forms, .right-blurb
    width: 100% !important
    display: flex !important
    justify-content: center !important


@media screen and (max-width: 570px)
  .staff-info-subscribe
    width: 100% !important

  .staff-info
    img
      margin: auto

