/* line 1, ../sass/example.sass */
.programs-content {
  width: 52.8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  /* line 5, ../sass/typography.sass */
  .programs-content .programs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    color: #636161;
    margin: 0 0 65px; }
    /* line 11, ../sass/typography.sass */
    .programs-content .programs h2 {
      width: 100%;
      display: block;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #4aa513;
      padding: 14px 0;
      font-weight: bold;
      text-align: center;
      font-size: 24px;
      margin: 0 0 25px; }
    /* line 22, ../sass/typography.sass */
    .programs-content .programs .orange {
      background: #fa9901; }
    /* line 24, ../sass/typography.sass */
    .programs-content .programs .programs-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0 0 40px;
      font-size: 16px; }
      /* line 31, ../sass/typography.sass */
      .programs-content .programs .programs-text p {
        width: 70%; }
      /* line 33, ../sass/typography.sass */
      .programs-content .programs .programs-text .program-button {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #0b5d9d;
        border: 2px solid #0b5d9d;
        text-align: center;
        padding: 16px 0;
        width: 20%;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
      /* line 43, ../sass/typography.sass */
      .programs-content .programs .programs-text .program-button:hover {
        background: #0b5d9d;
        color: #FFFFFF;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
    /* line 47, ../sass/typography.sass */
    .programs-content .programs ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: #efeded; }
      /* line 54, ../sass/typography.sass */
      .programs-content .programs ul li {
        padding: 22px 30px;
        text-align: center; }
      /* line 57, ../sass/typography.sass */
      .programs-content .programs ul li:nth-child(odd) {
        background: #dad5d5; }

/*# sourceMappingURL=example.css.map */