/* line 1, ../sass/programs.sass */
.programs-main {
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0; }
  /* line 9, ../sass/programs.sass */
  .programs-main .programs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 710px;
    color: #636161;
    margin: 0 0 65px; }
    /* line 15, ../sass/programs.sass */
    .programs-main .programs h2 {
      width: 100%;
      display: block;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #4aa513;
      padding: 14px 0;
      font-weight: bold;
      text-align: center;
      font-size: 24px;
      margin: 0 0 25px; }
    /* line 26, ../sass/programs.sass */
    .programs-main .programs .orange {
      background: #fa9901; }
    /* line 28, ../sass/programs.sass */
    .programs-main .programs .programs-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0 0 40px;
      font-size: 16px; }
      /* line 35, ../sass/programs.sass */
      .programs-main .programs .programs-text p {
        width: 70%; }
      /* line 37, ../sass/programs.sass */
      .programs-main .programs .programs-text .program-button {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #0b5d9d;
        border: 2px solid #0b5d9d;
        text-align: center;
        padding: 16px 0;
        width: 20%;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
      /* line 47, ../sass/programs.sass */
      .programs-main .programs .programs-text .program-button:hover {
        background: #0b5d9d;
        color: #FFFFFF;
        -webkit-transition: all 0.5s;
                transition: all 0.5s; }
    /* line 51, ../sass/programs.sass */
    .programs-main .programs ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background: #efeded; }
      /* line 58, ../sass/programs.sass */
      .programs-main .programs ul li {
        padding: 22px 30px;
        text-align: center; }
      /* line 61, ../sass/programs.sass */
      .programs-main .programs ul li:nth-child(odd) {
        background: #dad5d5; }

/* line 65, ../sass/programs.sass */
.programs-photo {
  background: url("/assets/images/typography/typography-photo-block.jpg") no-repeat center; }

/*# sourceMappingURL=programs.css.map */