.request
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 1170px
  max-width: 100%
  margin: 60px auto 0
  transition: all 0.5s
  align-content: center
  .left-request-forms
    width: 50%
    display: flex
    flex-wrap: wrap
    form
      width: 439px
      margin: 0
      .form-group
        width: 100%
        display: flex
        flex-wrap: wrap
        input, select
          width: 100%
          border: 1px solid #e1e1e1
          border-radius: 2px
          height: 38px
        label
          width: 100%
          line-height: 33px
      .send-button
        display: block
        text-transform: uppercase
        text-decoration: none
        text-align: center
        border: 1px solid #345396
        border-radius: 2px
        color: #345396
        padding: 17px
        width: 100%
        background: none
        transition: all 0.5s
      .send-button:hover
        background: #345396
        color: #FFFFFF
    .center-block-b
      width: 395px
      margin: 0
      display: none
      .sent
        background: #0b5d9d
        padding: 60px 0
        h1
          margin: 0
          padding: 0 20px
          text-transform: uppercase
          text-align: center
          color: #FFFFFF
          font-size: 25px
      .info
        padding: 65px
        p
          text-align: center
          color: #2e2e2e
      .button
        display: block
        text-transform: uppercase
        color: #FFFFFF
        width: 90%
        text-decoration: none
        background: #0b5d9d
        text-align: center
        padding: 15px 0
        border: 1px solid #0b5d9d
        border-radius: 2px
        margin: 20px auto 0
  .right-blurb
    width: 50%
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

.request-photo
  background: url("/assets/images/typography/typography-photo-block.jpg")no-repeat center