.test-content
  font-family: helveticaLight
  max-width: 1172px
  width: 100%
  margin: 0 auto
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  padding-bottom: 255px
  .test_choice
    width: 100%
    margin:  35px 0 0
    a
      color: #bababc
      text-decoration: none
      font-size: 16px
    a:nth-child(1)
      margin-right: 24px
  h2
    font-size: 34px
    font-weight: bold
    width: 100%
    color: #2e2e2e
    margin-top: 69px
  .polish_test-block, .english_test-block, .warsaw_gardens
    max-width: 575px
    width: 100%
    height: 359px
    margin-top: 59px
    cursor: pointer
    display: block
    .manage_cont-block
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      max-width: 300px
      width: 100%
      background: #0b5d9d
      height: 100%
      box-shadow: 13px 0 11px 0 rgba(0, 0, 0, 0.3)
      h3
        color: #ffffff
        font-size: 26px
        font-weight: bold
        width: 245px
        text-transform: uppercase
  .polish_test-block
    background: url("/assets/images/test/flags/polish.jpg") no-repeat
    background-size: cover
  .english_test-block
    background: url("/assets/images/test/flags/english-background.png") no-repeat
    background-size: cover
  .warsaw_gardens
    background: url("/assets/images/test/flags/park.jpg") no-repeat
    background-size: cover
    border: 2px solid #145a90

  .polish_quick_test, .english_test
    margin: 50px 0
    .questions
      h2
        font-size: 30px
        margin: 40px 0
        font-weight: bold
      input[type="radio"]
        outline: none
        margin: 4px 15px 0 0
      span
        font-size: 21px


