$type-color: #123554

.typograph
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  max-width: 1170px
  width: 100%
  margin: 70px auto 0
  transition: all 0.5s
  align-content: center
  .left-content
    width: 710px //45.8%
    display: flex
    align-content: flex-start
    flex-wrap: wrap
    font-size: 16px
    h1
      color: $type-color
      text-transform: uppercase
      margin: 0 0 35px 0
      font-size: 22px
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        margin-top: 15px
        a
          text-decoration: underline
        ol
          list-style-type: square
          margin-top: 24px
          li
            font-weight: normal
            margin: 0
            color: black
            padding-left: 10px
          li:nth-child(1)
            color: black
            font-weight: normal
      li:nth-child(1)
        color: $type-color
        font-weight: bold
