$type-color: #123554

.typograph
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  max-width: 1170px
  width: 100%
  margin: 70px auto 0
  transition: all 0.5s
  align-content: center
  .left-content
    font-family: 'Open Sans', sans-serif
    width: 710px
    display: flex
    align-content: flex-start
    flex-flow: column wrap
    font-size: 16px
    h1
      color: $type-color
      text-transform: uppercase
      margin: 0
      font-size: 22px
      font-weight: bold
      font-family: 'Open Sans', sans-serif
    h2
      font-size: 16px
      font-weight: bold
      color: #123554
      margin: 43px 0 0
    p
      color: #3d3d3d
      margin-top: 30px
    .list-1
      list-style-type: none
      margin: 25px 0 0
      padding: 0
      li
        span
          margin-right: 6px
    .list-2
      padding-left: 40px
      list-style-type: square
      margin-top: 23px
      li
        padding-left: 5px
        span
          margin-right: 6px