@media screen and (max-width: 700px) {
  /* line 2, ../../sass/media.sass */
  body .menu-top-a {
    display: none; }

  /* line 4, ../../sass/media.sass */
  body .menu-b {
    display: none; }

  /* line 6, ../../sass/media.sass */
  body .otherwise-menu-b {
    display: none; }

  /* line 8, ../../sass/media.sass */
  body .request-content {
    margin-top: 10px; }

  /* line 10, ../../sass/media.sass */
  body .contact-main,
  body .registration-menu {
    margin-top: 60px; } }
@media screen and (min-width: 700px) and (max-width: 965px) {
  /* line 16, ../../sass/media.sass */
  body .contact-main,
  body .registration-menu {
    margin-top: 180px; } }
@media (max-width: 1285px) {
  /* line 22, ../../sass/media.sass */
  body .contact-main .another-info .another-info-cont .info-recall {
    overflow: hidden; }

  /* line 24, ../../sass/media.sass */
  body .contact-main .another-info .another-info-cont .info-recall img {
    margin: -100px auto 25px; } }
@media screen and (max-width: 780px) {
  /* line 29, ../../sass/media.sass */
  body .mob-activat .mobile-button {
    display: block; }

  /* line 31, ../../sass/media.sass */
  body .footer .left-contacts, body .footer .right-links {
    width: 100%;
    padding: 10px 20px; }

  /* line 34, ../../sass/media.sass */
  body .apply-content .left-calc, body .apply-content .right-summary {
    width: 100%; }
    /* line 36, ../../sass/media.sass */
    body .apply-content .left-calc form, body .apply-content .right-summary form {
      width: 90%; }
      /* line 38, ../../sass/media.sass */
      body .apply-content .left-calc form select, body .apply-content .right-summary form select {
        width: 50%; }
    /* line 40, ../../sass/media.sass */
    body .apply-content .left-calc .summary-cont, body .apply-content .right-summary .summary-cont {
      width: 100%;
      padding: 0; }

  /* line 43, ../../sass/media.sass */
  .program, .month {
    width: 90%; }

  /* line 45, ../../sass/media.sass */
  body .request-content .left-request-forms, body .request-content .right-blurb {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (max-width: 570px) {
  /* line 53, ../../sass/media.sass */
  body .our-staff-content .staff-info img {
    margin: auto; } }
@media (max-width: 900px) {
  /* line 58, ../../sass/media.sass */
  body .apply-stud-info .info-col-left {
    width: 100%; }

  /* line 60, ../../sass/media.sass */
  body .apply-stud-info .info-col-right {
    width: 100%;
    margin-top: 35px; } }
@media (max-width: 500px) {
  /* line 66, ../../sass/media.sass */
  body .apply-stud-info .info-col-center .apply-for .left-permit, body .apply-stud-info .info-col-center .apply-for .right-visa {
    width: 100%;
    margin-left: 0; }

  /* line 69, ../../sass/media.sass */
  body .apply-stud-info .info-col-center .apply-for label {
    width: 50%; }

  /* line 71, ../../sass/media.sass */
  body .apply-stud-info .info-col-center .apply-for input {
    width: 50%; }

  /* line 73, ../../sass/media.sass */
  body .apply-stud-info .choose-option .lang-level input, body .apply-stud-info .choose-option .opinion-about-toogether input {
    width: 50%; }

  /* line 75, ../../sass/media.sass */
  body .apply-stud-info .choose-option span {
    width: 25%; } }
@media (max-width: 1020px) {
  /* line 80, ../../sass/media.sass */
  body .main-step-3 .affirmation,
  body .main-step-3 .step-3-logo,
  body .main-step-3 .step-3-logo .logo img,
  body .our-staff-content .subscribe,
  body .our-staff-content .video,
  body .our-staff-content .staff-info {
    width: 100%; } }
@media (max-width: 1565px) {
  /* line 90, ../../sass/media.sass */
  body .our-staff-content .staff-info .staff-info-subscribe {
    width: 100%;
    margin: 0; } }
@media (max-width: 1240px) {
  /* line 96, ../../sass/media.sass */
  body .main-step-3 .step-3-logo .logo img {
    max-width: 40%; }

  /* line 98, ../../sass/media.sass */
  body .main-step-3 .affirmation .to-main-page-but {
    width: 100%; } }
@media (max-width: 550px) {
  /* line 103, ../../sass/media.sass */
  body .main-step-3 .step-3-logo .logo img {
    width: 100%; }

  /* line 105, ../../sass/media.sass */
  body .main-step-3 {
    margin-bottom: 35px; } }
@media (max-width: 400px) {
  /* line 110, ../../sass/media.sass */
  body .main-step-3 .affirmation h2 {
    font-size: 24px; } }
@media (max-width: 1700px) {
  /* line 116, ../../sass/media.sass */
  body .contact-main .information,
  body .contact-main .center-block,
  body .contact-main .another-info {
    width: 300px; } }
@media (max-width: 1285px) {
  /* line 123, ../../sass/media.sass */
  body .contact-main {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  /* line 125, ../../sass/media.sass */
  body .contact-main .information,
  body .contact-main .center-block {
    width: 50%; }

  /* line 128, ../../sass/media.sass */
  body .contact-main .another-info,
  body .contact-main .another-info .another-info-cont,
  body .contact-main .another-info .another-info-cont .info-cont-img img {
    width: 100%; } }
@media (max-width: 900px) {
  /* line 134, ../../sass/media.sass */
  body .contact-main .information,
  body .contact-main .center-block {
    width: 100%; } }

/*# sourceMappingURL=media.css.map */